<div class="wrapper wrapper-content animated fadeInRight">
  <div class="ibox">
    <div class="ibox-title">Добавить товар</div>
    <div class="ibox-content">
      <%=render :partial => 'manager/shop/products/form'%>
    </div>
  </div>
</div>