<div style="padding-top: 70px;">
<%=render partial: 'app/widgets/vk_group'%>
<%=render partial: 'app/widgets/certificates', locals: {certificates: Certificate.order('RAND()').limit(1),mode: 'right'}%>
<%=render partial: 'app/widgets/testimonial'%>
</div>