<%
    post = Post.where('category_id = 31 AND photo_file_name is not null').order('RAND()').first
%>
<div class="listing-item right-widget hidden-xs">
  <div class="w-title"><%=post.person%></div>
  <div class="w-body" style="padding: 0px;">
      <div class="overlay-container" style="margin-bottom: 0px;">
        <% if post.photo_file_name %>
            <%=image_tag post.photo.url%>
        <% end %>
      </div>
      <div class="listing-item-body clearfix" style="text-align: left!important;padding: 10px 10px 0px 10px;">
        <%=sanitize post.content, tags: %w(p a) %>
        <div class="text-center"><a href="/responces" class="btn btn-sm btn-primary">Все отзывы</a></div>
      </div>
  </div>
</div>