<div class="right-widget hidden-sm hidden-xs">
  <div class="w-title">Внимание, конкурс!</div>
  <div class="w-body" style="padding: 0px 10px;">
    <p style="padding-bottom: 0px;margin-bottom: 0px;">Розыгрыш каждое 1-ое число месяца.</p>
    <p class="text-center"><a href="https://www.instagram.com/kosmetologiya_kazan/"><img src="http://uu.appsforall.ru/52b866bf79c2e0.90828647.png"></a></p>
    <p>Делайте классные фото в нашем Центре ставьте #Центрэпиляциии_косметологии не забудьте указать геолокацию набирайте лайки и побеждайте</p>
  </div>
</div>
