<div class="right-widget hidden-sm hidden-xs">
  <div class="w-title">Внимание, конкурс!</div>
  <div class="w-body" style="padding: 0px 10px;">
    <p style="padding-bottom: 0px;margin-bottom: 0px;">Подарки для участников группы в контакте. Розыгрыш каждую пятницу.</p>
    <p class="text-center" style="padding:0px;margin: 0px;"><a href="https://vk.com/kosmetologiya_kazan"><%=image_tag('vk_logo.png')%></a></p>
    <p><a href="https://vk.com/kosmetologiya_kazan">Вступай в группу</a> в контакте делай репост "Чумовой пятницы недели"</p>
  </div>
</div>
