<div class="right-widget hidden-sm hidden-xs">
  <div class="w-title">Внимание, конкурс!</div>
  <div class="w-body" style="padding: 0px 10px;">
    <p class="text-center" style="padding:0px;margin: 0px;">
      <a href="javascript://" data-toggle="modal" data-target="#vk_contest">
        <img style="width:180px;margin: 0px auto;" src="<%=image_path('vk_logo.png')%>">
      </a>
    </p>
    <p style="padding-bottom: 0px;margin-bottom: 0px;">Выигрывайте подарочные процедуры в нашей группе в контакте.</p>
  </div>
</div>
<div class="modal fade" id="vk_contest" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Конкурс Вконтакте!</h4>
      </div>
      <div class="modal-body">
        <p>В нашей группе в контакте мы еженедельно разыгрываем подарочные процедуры, проводим акции дня, и масштабные розыгрыши с призовым фондом от 150 до 600 тыс рублей.</p>
        <p>Вступай в нашу группу и следи за новостями.</p>
        <p>Еженедельный розыгрыш подарочной процедуры "Чумовая пятница" будет проводится весь 2016 год.
        <p>Получить подарок очень просто:<br>
        <ul>
        <li>вступай в нашу группу <a href="https://vk.com/kosmetologiya_kazan">https://vk.com/kosmetologiya_kazan</a></li>
        <li>делай репост "Чумовой пятницы недели"</li>
        <li>закрепи пост на своей странице.</li>
        </ul>
        <p>Если удача улыбнулась мы обязательно напишем личное сообщение.</p>
        <div class="text-center"><a target="_blank" href="https://vk.com/kosmetologiya_kazan" class="btn btn-default">Подписаться</a></div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
