<div class="right-widget hidden-sm hidden-xs">
  <div class="w-title">Мы Вконтакте</div>
  <div class="w-body">
<!-- VK Widget -->
<div id="vk_groups_side" style="padding:0px 10px;"></div>
<script type="text/javascript">VK.Widgets.Group("vk_groups_side",{mode:0,width:"230",height:"200",color1:'FFFFFF',color2:'2B587A',color3:'5B7FA6'},60572647);</script>
  </div>
</div>