<div class="right-widget hidden-sm hidden-xs">
  <div class="w-body" style="padding: 3px 10px;border-top-width: 1px;">
    <p style="padding-bottom: 0px;margin-bottom: 5px;font-size: 12px;">Размещайте ваши фотографии</p>
    <p class="text-center">
      <a href="https://www.instagram.com/kosmetologiya_kazan/">
        <img style="width:120px;margin: 0px auto;" src="<%=image_path('insta_logo.png')%>">
      </a>
    </p>
  </div>
</div>