<div class="right-widget hidden-sm hidden-xs">
  <div class="w-body" style="padding: 3px 10px;border-top-width: 1px;">
    <p style="padding-bottom: 0px;margin-bottom: 5px;font-size: 12px;">Размещайте фотографии и проходите бесплатные процедуры</p>
    <p class="text-center">
      <a href="javascript://" data-toggle="modal" data-target="#insta_contest" style="text-align: center;">
        <img style="width:120px;margin: 0px auto;" src="<%=image_path('insta_logo.png')%>">
      </a>
    </p>
  </div>
</div>

<div class="modal fade" id="insta_contest" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Конкурс в инстаграм!</h4>
      </div>
      <div class="modal-body">
        <p>Если Вы любите делать фотографии и публиковать фотографии в интсаграм - этот конкурс для Вас.</p>
        <p>Ежемесячно 1 числа месяца проводится конкурс ваших фотографий.</p>
        <ul>
          <li>делай классные фото в нашем Центре</li>
          <li>ставь тег #Центрэпиляциии_косметологии</li>
          <li>не забудь указать геолокацию</li>
          <li>набирай лайки и побеждай</li>
        </ul>
        <p>Мы с удовольствием предоставим подарок обладателю наибольшего количества лайков.</p>
        <div class="text-center"><a target="_blank" href="https://www.instagram.com/kosmetologiya_kazan/" class="btn btn-default">Подписаться</a></div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->