<%
   meta :title => @service.title,
        :description => @service.description,
        :keywords => @service.keys
%>
<div class="main col-md-12 scrollit">
    <% if @service.is_structured %>
        <%=render :partial => 'services/show/layouts/structured'%>
    <% else %>
        <%=render :partial => 'services/show/layouts/default'%>
    <% end %>
</div>