<div id="faq-fetch">
  <div class="page-header"><h1>Вопросы и ответы</h1></div>
  <%@fetch.each do |item|%>
  <div class="faq-item">
      <%=link_to item.name, faq_path(item)%>
      <div class="question"><%=item.question.html_safe%></div>
  </div>
  <% end %>
  <%=render :partial => 'faqs/form'%>
</div>