<%
    if subscription.post_id.to_i > 0
        more_link = post_path(subscription.post)
    else
        more_link = subscription_path(subscription)
    end
%>
<div class="row call-to-action" style="background-color: #E9E9E9;margin-bottom: 20px;">
  <div class="col-md-12" style="background-color: #3F2021;text-align: left;color: #fff;font-size:1.2em;padding: 10px;">
    <%=subscription.name%>
  </div>
  <div class="col-md-4" style="padding: 15px;">
    <img src="<%=image_path subscription.photo.url%>" class="img-responsive">
  </div>
  <div class="col-md-8" style="padding-top: 15px;text-align: left;">
    <%=subscription.preview.html_safe%>
    <div style="padding: 10px;"><%=link_to 'Подробнее', more_link, :class=>'btn btn-primary'%></div>
  </div>
</div>