<h2>Используемые препараты</h2>
<ul>
  <%medicaments.each_with_index do |medicament,index|%>
      <li>
        <strong><%=link_to medicament.name,medicament_path(medicament)%></strong>
        <p><%=medicament.anounce%></p>
      </li>
  <% end %>
</ul>