<% if @widgets != nil %>
    <% widgets = @widgets.pos(position) %>
    <% if widgets.length > 0 %>
        <%
          unless browser.bot?
              metrika = Metrika.new
              metrika.service_id = @service.id
              metrika.action_id = 6
              metrika.ip = request.remote_ip
              metrika.save
          end
       %>
        <h2><%=widgets.first.header%></h2>
        <%=widgets.first.content.html_safe%>
    <% end %>
<% end %>