<div class="wrapper wrapper-content animated fadeInRight">
  <div class="ibox">
    <div class="ibox-title">Редактировать категорию &laquo;<%=@category.name%>&raquo;</div>
    <div class="ibox-content">
        <%=render :partial => 'manager/shop/categories/form'%>
    </div>
  </div>
</div>