<div class="wrapper wrapper-content animated fadeInRight">
  <div class="ibox">
    <div class="ibox-title">
      <div class="pull-left">Список категорий</div>
      <div class="pull-right"><a href="/manager/shop/categories/new" class="btn btn-success btn-sm">Новая категория</a></div>
    </div>
    <div class="ibox-content">
      <div id="nestable">
          <%=categories_tree%>
      </div>
    </div>
  </div>
</div>