<div class="list-group">
  <a href="#" class="list-group-item active">
    Меню
  </a>
  <a href="/shop/cart" class="list-group-item">Моя корзина</a>
  <a href="/shop/orders" class="list-group-item">Мои заказы</a>
  <a href="/private/profile" class="list-group-item">Мой профиль</a>
  <a href="/private/promos" class="list-group-item">Мои акции и скидки</a>
</div>