@import "v3/bootstrap/css/bootstrap.min";
@import "font-awesome";
@import "v3/layout/animate";
@import "v3/layout/animations";
@import "v3/layout/style";
@import "v3/skins/brown";
@import "v3/plugins/toastr/toastr.min";
@import "v3/plugins/owl/owl.carousel";
#top-promos{
    padding: 20px;
    .call-to-action {
        padding: 0px;
        h1, h2, h3 {
            padding: 0px;
            margin: 0px;
        }
        .offer {
            display: none
        }
    }
}
.rouble {
    display: inline-block;
    position: relative; }

.rouble:before {
    display: block;
    content: "–";
    position: absolute;
    top: 0.05em; }