<div style="background-color: #FAECDD;padding: 5px 20px 5px 0px;">
  <h3 style="text-align:center;">Адреса наших салонов</h3>
  <ul>
    <li style="list-style:none;">
      Казань, Вахитовский район, ул. Спартаковская, 2 к.1 (ТЦ «Караван»)
      <p>Недалеко от площади Тукая и парка Тысячелетия, рядом с Баскет холлом в здании ТЦ «Караван». Оборудован отдельный вход, снабжённый заметной вывеской.</p>
      <p style="text-align:center;">
        <a style="display:block;padding: 10px;background-color: #614126;color: #fff;width:200px;margin: 0 auto;text-decoration: none;" href="https://yandex.ru/maps/?z=16&ll=49.12734715425824,55.78361615747204&l=map&origin=jsapi_2_1_47&from=api-maps&um=constructor:sE4ujptfsodUyF9gGzqM5lmUrPiIVRN0">Посмотреть на карте</a>
      </p>
    </li>
    <li style="list-style:none;">
      Казань, Московский район, пр. Ибрагимова, 54 (Фитнес центр «Олимп»)
      <p>Центр располагается в новом здании одного из самых крупных фитнес центров города, рядом с ТЦ "Тандем"</p>
      <p style="text-align:center;">
        <a style="display:block;padding: 10px;background-color: #614126;color: #fff;width:200px;margin: 0 auto;text-decoration: none;" href="https://yandex.ru/maps/?z=16&ll=49.09584192716939,55.821361773456495&l=map&origin=jsapi_2_1_47&from=api-maps&um=constructor:CYkHPrm3cnuJPZhYThBza43ZeOqhUNsJ">Посмотреть на карте</a>
      </p>
    </li>
    <li style="list-style:none;">
      Казань, Ново-Савиновский район, ул. Сибгата Хакима, 42
      <p>Центр располагается в новом здании, напротив аквапарка Ривьера, недалеко от Дворца Единоборств Ак Барс.</p>
      <p style="text-align:center;">
        <a style="display:block;padding: 10px;background-color: #614126;color: #fff;width:200px;margin: 0 auto;text-decoration: none;" href="https://yandex.ru/maps/?z=15&ll=49.12912056477329,55.81216790910142&l=map&origin=jsapi_2_1_47&from=api-maps&um=constructor:E4mJInlqU4s0dDRygyBpGEAYhBvpHD42">Посмотреть на карте</a>
      </p>
    </li>
  </ul>
</div>