<div style="text-align:center;margin: 20px;">
  <img src="http://kosmetologiya-kazan.ru/data/pictures/296/oie_jpg__5_.png"><br>
  С уважением, Диана<br>
  управляющая Центра эпиляции и косметологии
</div>
<div style="padding: 10px;background-color: #E9E9E9;font-size: .8em;">Вы получили это письмо, потому что регистрировались в Центре Эпиляции и Косметологии<br>
  Если вы не хотите больше получать письма от нас, вы можете отписаться </p>
</div>