<div class="block clearfix hidden-sm hidden-xs">
  <h3 class="title">Хорошо дополняют</h3>
  <div class="separator"></div>
  <div class="image-box">
    <div class="overlay-container">
      <img src="http://kosmetologiya-kazan.ru/data/pictures/2/500xNxfotoepilyaciya_apparate_record.jpg.pagespeed.ic.1-2evxDesP.jpg" alt="" style="width:100%;">
      <div class="overlay">
        <div class="overlay-links">
          <a href="blog-post.html"><i class="fa fa-link"></i></a>
          <a href="http://kosmetologiya-kazan.ru/data/pictures/2/500xNxfotoepilyaciya_apparate_record.jpg.pagespeed.ic.1-2evxDesP.jpg" class="popup-img-single" title="image title"><i class="fa fa-search-plus"></i></a>
        </div>
      </div>
    </div>
    <div class="image-box-body">
      <h3 class="title" style="margin-bottom: 10px"><a href="blog-post.html">Фотоэпиляция</a></h3>
      <p>Один из наиболее радикальных, современных и надежных методов избавления от нежелательных волос на теле на длительное время.</p>
      <a href="blog-post.html" class="link"><span>Подробнее</span></a>
    </div>
  </div>
  <div class="image-box">
    <div class="overlay-container">
      <img src="http://kosmetologiya-kazan.ru/data/pictures/98/lazernioe-omologenie.jpg.pagespeed.ce.7AYOAZhqAj.jpg" alt="" style="width:100%;">
      <div class="overlay">
        <div class="overlay-links">
          <a href="blog-post.html"><i class="fa fa-link"></i></a>
          <a href="http://kosmetologiya-kazan.ru/data/pictures/98/lazernioe-omologenie.jpg.pagespeed.ce.7AYOAZhqAj.jpg" class="popup-img-single" title="image title"><i class="fa fa-search-plus"></i></a>
        </div>
      </div>
    </div>
    <div class="image-box-body">
      <h3 class="title" style="margin-bottom: 10px"><a href="blog-post.html">Лазерная шлифовка</a></h3>
      <p>Лазерную шлифовку можно назвать «процедурой выходного дня», т.к. она занимает очень мало времени и вы практически сразу же возвращаетесь в привычный для вас ритм жизни.</p>
      <a href="blog-post.html" class="link"><span>Подробнее</span></a>
    </div>
  </div>
</div>