<div class="right-widget hidden-sm hidden-xs">
  <div class="w-title">Быстрые действия</div>
  <div class="w-body">
      <a href="#pricelist" class="btn btn-md btn-primary">Цены</a>
    <% if defined?(@reviews) && @reviews != nil && @reviews.length > 0 %>
        <a href="#testimonials" class="btn btn-md btn-primary">Отзывы</a>
    <% else %>
        <a href="#experts" class="btn btn-md btn-danger">Специалисты</a>
    <% end %>
    <a href="javascript://" data-toggle="modal" data-target="#recall" class="btn btn-md btn-default">Записаться</a>
  </div>
</div>
