<%
   content = @service.content
   content = content.gsub(/<p>[^а-яА-Яa-zA-Z0-9]*\{alert ([^\}]+)\}[^<]*<\/p>/i,'<div class="alert alert-\\1">')
   content = content.gsub(/<p>[^а-яА-Яa-zA-Z0-9]*\{\/alert\}[^<]*<\/p>/i,'</div>')
   parts = @service.content.scan(/(<h2[^>]*>([^<]*)<\/h2>)/i)
   discount = Discount.alive.where('service_id = ?',@service.id).first
   whtml = ''
   if discount != nil
       whtml = '<div class="alert alert-warning text-center">'
       whtml += '<div class="text-center">Только в этом месяце!</div>'
       whtml += '<div style="font-size: 1.5em;margin-bottom: 10px;">'
       whtml += '<p>Пройдите процедуру с '+discount.value.to_s+'% скидкой!</p>'
       whtml += '</div>'
       whtml += '<div style="margin-bottom: 10px;"><a href="#" data-toggle="modal" data-target="#recall" class="btn btn-md btn-danger m-act" data-service="'+@service.id.to_s+'" data-action="4">Записаться</a></div>'
       if discount.fl_new
           whtml += '<div class="text-center">* действует на первое посещение</div>'
       end
       whtml += '</div>'
   end
   widget = Widget.pos(3).entity(@service.id).where('due_date > ?',Time.now).first
   if widget != nil
       whtml = '<div class="alert alert-warning text-center">'
       if widget.is_only
           whtml += '<div class="text-center">Только в этом месяце!</div>'
       end
       whtml += '<div style="font-size: 1.5em;margin-bottom: 10px;">' + widget.content + '</div>'
       whtml += '<div style="margin-bottom: 10px;"><a href="#" data-toggle="modal" data-target="#recall" class="btn btn-md btn-danger m-act" data-service="'+@service.id.to_s+'" data-action="4">'+widget.button_name+'</a></div>'
       if widget.is_new
           whtml += '<div class="text-center">* действует на первое посещение</div>'
       end
       whtml += '</div>'
   end

   if parts.length > 1
       unless browser.bot?
           metrika = Metrika.new
           metrika.service_id = @service.id
           metrika.action_id = 6
           metrika.ip = request.remote_ip
           metrika.save
       end
       content = content.gsub(parts[1][0],whtml + parts[1][0].to_s)
   end

   content = content.gsub(/<\/?span[^>]*>/i,'')
%>
<style>
  .alert-warning p{
      color: #0b0b0b;
  }
  .alert-warning{
      color: #0b0b0b;
  }
</style>
<% if whtml.length > 0 && parts.length < 2 %>
    <%=whtml.html_safe%>
<% end %>
<%=content.html_safe%>