<%
   content = @service.content
   content = content.gsub(/<p>[^а-яА-Яa-zA-Z0-9]*\{alert ([^\}]+)\}[^<]*<\/p>/i,'<div class="alert alert-\\1">')
   content = content.gsub(/<p>[^а-яА-Яa-zA-Z0-9]*\{\/alert\}[^<]*<\/p>/i,'</div>')
   #content = content.gsub(/<p>[^\{]*\{well ([^\}]+)\}[^<]*<\/p>/i,'<div class="well well-\\1">')
   #content = content.gsub(/<p>[^\{]*\{\/well\}[^<]*<\/p>/i,'</div>')
%>
<%=content.html_safe%>