<%
   content = @service.content
   content = content.gsub(/<p>[^а-яА-Яa-zA-Z0-9]*\{alert ([^\}]+)\}[^<]*<\/p>/i,'<div class="alert alert-\\1">')
   content = content.gsub(/<p>[^а-яА-Яa-zA-Z0-9]*\{\/alert\}[^<]*<\/p>/i,'</div>')
   widget = Widget.pos(3).entity(@service.id).where('due_date is null OR due_date > ?',Time.now).first
   whtml = ''
   parts = @service.content.scan(/(<h2[^>]*>([^<]*)<\/h2>)/i)
   if widget != nil
       whtml = '<div class="alert alert-warning text-center">'
       if widget.is_only
           whtml += '<div class="text-center">Только в этом месяце!</div>'
       end
       whtml += '<div style="font-size: 1.5em;margin-bottom: 10px;">' + widget.content + '</div>'
       whtml += '<div style="margin-bottom: 10px;"><a href="#" data-toggle="modal" data-target="#recall" class="btn btn-md btn-danger m-act" data-service="'+@service.id.to_s+'" data-action="4">'+widget.button_name+'</a></div>'
       if widget.is_new
           whtml += '<div class="text-center">* действует на первое посещение</div>'
       end
       whtml += '</div>'
       if parts.length > 1
          content = content.gsub(parts[1][0],whtml + parts[1][0].to_s)
       end
   end
%>
<% if whtml.length > 0 && parts.length < 2 %>
    <%=whtml.html_safe%>
<% end %>
<%=content.html_safe%>