<% if @album.count > 0 %>
    <h2>Фотографии процедуры &laquo;<%=@service.name%>&raquo;</h2>
    <div class="row" style="margin-bottom: 50px;">
      <% @album.each do |image| %>
      <div class="col-md-2">
          <a href="<%=image.gsub('public','').gsub('th/','big/')%>" target="_blank"><%= image_tag image.gsub('public',''), :class=> 'img-responsive'%></a>
      </div>
      <% end %>
    </div>
<% end %>