<div class="block clearfix hidden-sm hidden-xs">
  <h3 class="title">Сопутствующие товары</h3>
  <div class="separator"></div>
  <div class="row">
    <div class="col-md-6">
      <div class="image-box">
        <div class="overlay-container">
          <img src="images/11.jpg" alt="" style="width:100%;">
          <div class="overlay">
            <div class="overlay-links">
              <a href="blog-post.html"><i class="fa fa-link"></i></a>
              <a href="http://kosmetologiya-kazan.ru/system/experts/photos/000/000/002/medium/x51.JPG,q1402659832.pagespeed.ic.pLQ3Sc5KYa.jpg" class="popup-img-single" title="image title"><i class="fa fa-search-plus"></i></a>
            </div>
          </div>
        </div>
        <div style="text-align: center;padding-bottom: 5px;"><a href="" style="font-size:11px;text-decoration: underline;line-height: 10px;">Крем</a></div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="image-box">
        <div class="overlay-container">
          <img src="images/33.jpg" alt="" style="width:100%;">
          <div class="overlay">
            <div class="overlay-links">
              <a href="blog-post.html"><i class="fa fa-link"></i></a>
              <a href="http://kosmetologiya-kazan.ru/system/experts/photos/000/000/002/medium/x51.JPG,q1402659832.pagespeed.ic.pLQ3Sc5KYa.jpg" class="popup-img-single" title="image title"><i class="fa fa-search-plus"></i></a>
            </div>
          </div>
        </div>
        <div style="text-align: center;padding-bottom: 5px;"><a href="" style="font-size:11px;text-decoration: underline;line-height: 10px;">Паста</a></div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top:10px;">
    <div class="col-md-6">
      <div class="image-box">
        <div class="overlay-container">
          <img src="images/66.jpg" alt="" style="width:100%;">
          <div class="overlay">
            <div class="overlay-links">
              <a href="blog-post.html"><i class="fa fa-link"></i></a>
              <a href="http://kosmetologiya-kazan.ru/system/experts/photos/000/000/002/medium/x51.JPG,q1402659832.pagespeed.ic.pLQ3Sc5KYa.jpg" class="popup-img-single" title="image title"><i class="fa fa-search-plus"></i></a>
            </div>
          </div>
        </div>
        <div style="text-align: center;padding-bottom: 5px;"><a href="" style="font-size:11px;text-decoration: underline;line-height: 10px;">Лосьон</a></div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="image-box">
        <div class="overlay-container">
          <img src="images/55.jpg" alt="" style="width:100%;">
          <div class="overlay">
            <div class="overlay-links">
              <a href="blog-post.html"><i class="fa fa-link"></i></a>
              <a href="http://kosmetologiya-kazan.ru/system/experts/photos/000/000/002/medium/x51.JPG,q1402659832.pagespeed.ic.pLQ3Sc5KYa.jpg" class="popup-img-single" title="image title"><i class="fa fa-search-plus"></i></a>
            </div>
          </div>
        </div>
        <div style="text-align: center;padding-bottom: 5px;"><a href="" style="font-size:11px;text-decoration: underline;line-height: 10px;">Средство</a></div>
      </div>
    </div>
  </div>
</div>