<div class="block clearfix">
  <h3 class="title">Отзывы</h3>
  <div class="separator"></div>
  <blockquote class="margin-clear">
    <p style="margin-bottom: 0px;padding-bottom: 5px;">Отличный сервис по хорошей цене</p>
    <footer><cite title="Source Title">Марина Петрова </cite></footer>
  </blockquote>
  <blockquote class="margin-clear">
    <p style="margin-bottom: 0px;padding-bottom: 5px;">Спасибо Лиле за хорошую работу. Всё очень понравилось, удачи в работе</p>
    <footer><cite title="Source Title">Галина </cite></footer>
  </blockquote>
</div>