<% if defined?(@reviews) && @reviews != nil && @reviews.length > 0 %>
    <h3 class="title review-title" id="testimonials">
      Отзывы о процедуре
      <div class="pull-right">
        <a href="/responces?service_id=<%=@service.id%>" style="font-size: .8em;text-decoration: underline">Посмотреть все</a>
      </div>
    </h3>
    <% @reviews.each do |review| %>
        <blockquote class="margin-clear">
          <p style="margin-bottom: 0px;padding-bottom: 5px;"> <%=review.content.html_safe%></p>
          <footer><cite title="Source Title"><%=review.person%></cite></footer>
        </blockquote>
    <% end %>
<% end %>