<div class="hidden-xs">
  <h2>Виды услуги</h2>
  <%services.each_with_index do |child,index|%>
      <article class="clearfix blogpost" style="padding: 10px 0px;">
        <div class="pull-right">
          <%=image_tag child.photo.url(:medium) %>
        </div>
        <div class="blogpost-body" style="padding:0px;margin: 0px;">
            <header>
              <%=link_to child.name, service_path(id:child.id, url:child.url)%>
            </header>
            <%=child.anounce%>
        </div>
      </article>
  <% end %>
</div>