<% if @certificates.length > 0 %>
    <%@certificates.each do |certificate|%>
        <%=render :partial => 'certificates/shared/newitem', locals: {certificate: certificate}%>
    <% end %>
<% else %>
    <div class="well">Раздел находится в стадии заполения информацией</div>
<% end %>