<span class="discount-row" data-id="<%=price.service_id%>"><%=price.price.to_i - ((price.price.to_i * @service_discount[price.service_id].value.to_i)/100).round%> <span class="rouble">ла</span><%if @service_discount[price.service_id].fl_new %>*<% end %></span>

