<%
    if @price_discount == nil
        discount = @service_discount[price.service_id]
        is_single = false
    else
        discount = @price_discount
        is_single = true
    end
%>
<span class="discount-row" data-id="<%=price.service_id%>" <%if is_single %>data-single="true"<%else%>data-single="false"<% end %>>
  <% if discount.value_unit == 2%>
      <%=price.price.to_i - discount.value.to_i%>
  <% else %>
      <%=price.price.to_i - ((price.price.to_i * discount.value.to_i)/100).round%>
  <% end %>
  <span class="rouble">ла</span><%if discount.fl_new %>*<% end %>
</span>

