<%
  unless defined?(@service_discount)
      @service_discount = {}
  end
  if @price_discount == nil
      if line.discounts.count > 0
          @price_discount = line.discounts.first
      else
          @price_discount = nil
          unless @service_discount.key?(line.service_id)
              service = line.service
              @service_discount[line.service_id] = service.discounts.first
          end
      end
      is_new = line.is_new_only ? '*' : ''
  end
%>
<% if @service_discount[line.service_id] == nil && @price_discount == nil %>
    <nobr><%=line.price%><span class="rouble">ла</span></nobr>
<% else %>
    <nobr><s><%=line.price%><%=is_new%> <span class="rouble">ла</span></s>
    <%=render :partial => 'app/pricelist/discount_row', locals: {price: line}%></nobr>
<% end %>