<% if line.discount != nil && line.discount.to_i > 0%>
    <nobr><s><%=line.price%> <span class="rouble">ла</span></s></nobr>
    <nobr><%=line.price.to_i - ((line.price.to_i * line.discount.to_i)/100).round%> <span class="rouble">ла</span><%if line.is_new_only %><%@fl_new = true;%>*<% end %></nobr>
<% else %>
    <nobr><%=line.price%> <span class="rouble">ла</span></nobr>
<% end %>