<% if line.discount != nil && line.discount.to_i > 0%>
    <s><%=line.price%> <span class="rouble">ла</span></s>
    <%=line.price.to_i - ((line.price.to_i * line.discount.to_i)/100).round%> <span class="rouble">ла</span>
    <%if line.is_new_only %>
        <%@fl_new = true;%>
        *
    <% end %>
<% else %>
    <%=line.price%> <span class="rouble">ла</span>
<% end %>