<%
  unless defined?(@service_discount)
      @service_discount = {}
  end
  unless @service_discount.key?(line.service_id)
      service = line.service
      @service_discount[line.service_id] = service.discounts.first
  end
%>
<% if @service_discount[line.service_id] == nil %>
    <nobr><%=line.price%> <span class="rouble">ла</span></nobr>
<% else %>
    <nobr><s><%=line.price%> <span class="rouble">ла</span></s>
    <%=render :partial => 'app/pricelist/discount_row', locals: {price: line}%></nobr>
<% end %>