<%
   meta :title => 'Интернет магазин лечебной косметики',
        :description => 'Мы предлагаем Вам приобрести косметику в домашний уход, сертификаты на процедуры и корректирующее белье  в нашем интернет-магазине.'
%>
<div class="row">
  <div class="col-md-12">
    <div class="page-header" style="margin :0px;padding: 0px;">
      <h1 style="margin :0px;padding: 10px 0px;">Бестселлеры</h1>
    </div>
    <div>
      <%=render :partial=>'shop/shared/products', :locals => {products: @products, fl_items: true}%>
    </div>
  </div>
</div>