<div class="well" style="margin: 20px auto;width:700px;">
   <h2 style="text-align:center;">Магазин временно закрыт для обновления</h2>
   <p style="text-align: center;">Приносим свои извинения за доставленные неудобства</p>
</div>
<!--dsfsdf-->