<div class="row">
  <div class="col-md-12">
    <div class="page-header" style="margin: 10px 0px;">
        <h1>Коллекция <%=@collection.name.html_safe%></h1>
    </div>
    <div class="descr">
      <%=@collection.description.html_safe%>
    </div>
  </div>
</div>
<div class="row" id="shop-collection" style="margin-top: 20px;">
    <%=render :partial=>'shop/shared/products', :locals => {products: @products, unit_id: @collection.unit_id}%>
</div>