<%
  meta :title => "Интернет магазин косметологических услуг в Казани",
       :description => 'Интернет магазин товаров и услуг по косметологии, дерматологии, трихологии, массажу и прочим'
%>
<div class="main col-md-12 col-xs-12" id="news" style="padding-top: 50px;">
  <!-- page-title start -->
  <!-- ================ -->
  <div class="masonry-grid-fitrows row grid-space-20" style="padding-bottom: 100px;">
    <div class="col-md-4 col-sm-6 masonry-grid-item col-xs-12">
      <div class="listing-item">
        <div class="listing-item-body clearfix">
          <div>
            <h3 class="title text-center"><a href="/subscriptions" style="text-decoration: underline">Абонементы</a></h3>
          </div>
          <div>Купить абонемент и выгодно пройти курс процедур в Казани</div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 masonry-grid-item col-xs-12">
      <div class="listing-item">
        <div class="listing-item-body clearfix">
          <div>
            <h3 class="title text-center"><a href="/certificates" style="text-decoration: underline">Подарочные сертификаты</a></h3>
          </div>
          <div>Дарите близким впечатления, красоту и здоровье.</div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 masonry-grid-item col-xs-12">
      <div class="listing-item">
        <div class="listing-item-body clearfix">
          <div>
            <h3 class="title text-center"><a href="/shop" style="text-decoration: underline">Магазин косметики</a></h3>
          </div>
          <div>Купить профессиональную косметику по низким ценам.</div>
        </div>
      </div>
    </div>
  </div>
</div>