<div id="shop-unit">
  <div class="page-header">
    <h1><%=@unit.name%></h1>
  </div>
  <div class="descr">
    <%=@unit.description.html_safe%>
  </div>
  <div class="row" id="shop-collection" style="margin-top: 20px;">
    <%=render :partial=>'shop/shared/products', :locals => {products: @products.limit(6), unit_id: @unit.id}%>
  </div>
</div>