<%
   fl_hide = false
   if cookies.has_key?(:views_count)
       cookies[:views_count] = cookies[:views_count].to_i + 1
       if cookies[:views_count] > 7
           fl_hide = true
       end
   else
       cookies[:views_count] = 1
   end
%>
    <%banner = Promo.where('fl_banner = 1').first%>
    <% if 1 == 2 && fl_hide == false && banner && request.original_url.index('promo') == nil%>
        <div class="row">
          <div class="col-md-12" style="box-shadow: 0px 0px 10px #555;margin-bottom: 10px;background-color: #F0F0F0">
            <table style="width: 100%;">
              <tr>
                <td style="height: 120px;width: 350px;border-bottom: 0px solid #ccc">
                  <div id="countdown" style="width:350px;" data-date="<%=banner.due%>"></div>
                  <div style="width: 350px;text-align: center;color: #b33c33;font-weight: bold;">осталось до конца акции</div>
                </td>
                <td style="text-align: center;">
                  <%=banner.banner.html_safe%>
                </td>
              </tr>
            </table>
          </div>
        </div>
    <% end %>
<%banners = Promo.where('fl_top = 1 and fl_active = 1').order('fl_banner DESC')%>
<div class="section parallax parallax-bg dark-translucent-bg" id="top-promos">
  <div class="container">
    <div id="owl-top" class="owl-carousel owl-theme content-slider-with-controls-autoplay">
      <% banners.each do |banner|%>
          <div class="overlay-container">
        <div class="call-to-action">
          <div class="row">
            <div class="col-md-8">
              <%=banner.banner.html_safe%>
            </div>
            <div class="col-md-4">
              <div class="text-center">
                <a href="/promos/<%=banner.id%>" class="btn btn-success btn-lg">Запись онлайн</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>