<%
   fl_hide = false
   if cookies.has_key?(:views_count)
       cookies[:views_count] = cookies[:views_count].to_i + 1
       if cookies[:views_count] > 7
           fl_hide = true
       end
   else
       cookies[:views_count] = 1
   end
%>


    <%banners = Promo.where('fl_top = 1 and fl_active = 1').order('fl_banner DESC')%>
    <div class="section parallax parallax-bg dark-translucent-bg" id="top-promos">
      <div class="container">
        <div id="owl-top" class="owl-carousel owl-theme content-slider">
          <% banners.each do |banner|%>
              <div class="overlay-container">
                <div class="call-to-action">
                  <div class="row">
                    <div class="col-md-8">
                      <%=banner.banner.html_safe%>
                    </div>
                    <div class="col-md-4">
                      <div class="text-center">
                        <a href="/promos/<%=banner.id%>" class="btn btn-success btn-lg">Подробнее</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>
