<%
  photos_before = @service.photos.where('photo_type = 1')
  photos_after = @service.photos.where('photo_type = 2')
%>
<% if photos_before %>
    <h2>Фотографии до и после процедуры</h2>
    <table class="table">
      <tr>
        <td style="width:50px;">До: </td>
        <% photos_before.each do |photo| %>
            <td><img src="<%= photo.img %>" style="max-height: 150px;" class="img-responsive"></td>
        <% end %>
      </tr>
      <tr>
        <td style="width:50px;">После: </td>
        <% photos_after.each do |photo| %>
            <td><img src="<%= photo.img %>" style="max-height: 150px;" class="img-responsive"></td>
        <% end %>
      </tr>
    </table>
<% end %>