<%
  photos_before = Photo.where('service_id = ? AND photo_type = 1', @service.id).order('id desc')
  photos_after  = Photo.where('service_id = ? AND photo_type = 2', @service.id).order('id desc')
%>
<% if photos_before.count > 0 %>
    <h2>Фотографии до и после процедуры</h2>
    <div class="row">
      <% photos_before.each do |photo| %>
          <div class="col-md-4">
            <div class="img-compare">
              <!-- The first div will be the front element, to prevent FOUC add a style="display: none;" -->
              <div style="display: none;">
                <span class="images-compare-label">До</span>
                <img src="http://www.kosmetologiya-kazan.ru<%= photo.img %>" alt="Before" class="img-responsive">
              </div>
              <!-- This div will be the back element -->
              <div>
                <span class="images-compare-label">После</span>
                <img src="http://www.kosmetologiya-kazan.ru<%= photos_after.shift.img %>" alt="After" class="img-responsive">
              </div>
            </div>
          </div>
      <% end %>
    </div>
<% end %>