<%
  reviews = @service.reviews.order('id DESC').limit(2)
%>
<% if reviews %>
    <div class="block clearfix">
      <h2>Отзывы о процедуре</h2>
      <%reviews.each do |review|%>
      <blockquote class="margin-clear">
        <p style="margin-bottom: 0px;padding-bottom: 5px;"><%=review.content.html_safe%></p>
        <footer><cite title="Source Title"><%=review.person%></cite></footer>
      </blockquote>
      <% end %>
      <p style="padding-top: 20px;">Посмотреть другие <a target="_blank" href="/responces?service_id=<%=@service.id%>">отзывы о процедуре &laquo;<%=@service.name%>&raquo;</a></p>
    </div>
<% end %>