<div class="wrapper">
  <div class="ibox">
    <div class="ibox-title">
      <div class="pull-left">История</div>
      <div class="pull-right">
        <a href="/manager/metrika/service/all?depth=52" <%if params[:depth].to_i == 52 %>style="color: palevioletred" <% end %>>Год</a> |
        <a href="/manager/metrika/service/all?depth=12" <%if params[:depth].to_i == 12 %>style="color: palevioletred" <% end %>>Квартал</a> |
        <a href="/manager/metrika/service/all?depth=4" <%if params[:depth].to_i == 4 %>style="color: palevioletred" <% end %>>Месяц</a>
      </div>
    </div>
    <div class="ibox-content">
      <%for i in 1..6%>
          <h2><%=Metrika::ACTIONS[i]%></h2>
      <canvas id="myChart<%=i.to_s%>" width="400" height="70"></canvas>
      <% end %>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>
<%for i in 1..6%>
<%=render :partial => 'manager/metrika/chart', locals: {index: i, legend: Metrika::ACTIONS[i]}%>
<% end %>
