<% if defined?(@reviews) && @reviews != nil && @reviews.length > 0 %>
    <div class="modal fade" id="service-reviews" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Отзывы о процедуре</h4>
          </div>
          <div class="modal-body">
            <% @reviews.limit(5).each do |review| %>
                <blockquote class="margin-clear">
                  <%
                    content = review.content
                    content = content.gsub(/<\/?span[^>]*>/i,'')
                  %>
                  <p style="margin-bottom: 0px;padding-bottom: 5px;"> <%=content.html_safe%></p>
                  <footer><cite title="Source Title"><%=review.person%></cite></footer>
                </blockquote>
            <% end %>
          </div>
          <div class="modal-footer">
            <div class="text-center">
            <a class="btn btn-lg btn-danger" href="/responces?service_id=<%=@service.id%>">Посмотреть все отзывы</a>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>