<%
    onsubmit = ''
    if @service != nil && @service.metrika_id != nil && !@service.metrika_id.empty?
        onsubmit = raw 'yaCounter28296001.reachGoal(\''+@service.metrika_id+'\'); return true;'
    end
    if defined?(metrika_code) && !metrika_code.empty?
        onsubmit = raw 'yaCounter28296001.reachGoal(\''+metrika_code+'\'); return true;'
    end

%>
<% if flash[:notice] && flash[:notice] == 'Order was created' %>
    <div class="well" style="padding:20px;text-align: center" id="modal-show" data-id="recall">Заявка принята<br>Спасибо за обращение в Центр эпиляции и косметологии.<br>Наш менеджер скоро свяжется с вами для уточнения деталей.</div>
<% else %>
<div>
    <%= form_for [Order.new], :html => { :onsubmit => onsubmit } do |f| %>
      <input type="hidden" name="order[url]" value="<%=request.original_url%>">
  <div class="form-group has-feedback" <% unless browser.device.mobile? %>style="width:60%;"<% end %>>
    <label for="subject4">Ваш телефон или e-mail</label>
    <input type="text" class="form-control" id="subject4" placeholder="" name="order[contacts]" required>
    <input type="text" name="order[email]" id="email-field">
    <i class="fa fa-phone form-control-feedback"></i>
  </div>
  <%=render :partial => 'app/order/filial'%>
  <div class="form-group has-feedback">
    <label for="message4"><%if defined?(text) %>Текст заявки<% else %>Комментарий (не обязательно)<% end %></label>
    <textarea rows="4" class="form-control" id="message4" name="order[content]" <%if not defined?(text) %>placeholder="Напишите Ваши пожелания о времени звонка, дате посещения и любые другие вопросы. Или оставьте это поле пустым."<% end %>><%if defined?(text) %><%=text%><% end %></textarea>
    <i class="fa fa-envelope-o form-control-feedback"></i>
  </div>
  <div class="form-group">
    <input type="hidden" name="agree" value="1" />
  </div>
  <input type="submit" value="Отправить заявку" class="btn btn-primary">
    <% end %>
</div>
<% end %>