<div class="wrapper wrapper-content animated fadeInRight">
  <div class="ibox">
    <div class="ibox-title">Редактирование клиента</div>
    <div class="ibox-content">
      <%=render :partial => 'manager/users/form'%>
    </div>
  </div>
</div>