<div class="container">
  <div class="row">
    <div class="col-md-8" style="padding-bottom: 0px;margin-bottom: 0px;">
      <h2 class="title" id="services">Услуги</h2>
      <!--<div class="filters">
        <ul class="nav nav-pills">
          <li class="active"><a href="#" data-filter="*">Популярные сервисы</a></li>
        </ul>
      </div>-->
      <!-- isotope filters end -->

      <!-- portfolio items start -->
      <div class="row">
        <%@section.services.where('fl_publish = 1').order('fl_order ASC').each do |service|%>
            <%=render :partial => 'app/shared/service_row', :locals => {service: service}%>
        <% end %>
      </div>
    </div>
  </div>
</div>