<div class="violet_wave"></div>
<header class="header container hidden-xs">
  <div class="row">
    <div class="top_phones" style="width: 900px;">
      <div class="top_col" style="width: 160px;font-weight: bold;">+7 (843) 2000-322</div>
      <div class="top_col">
        <p class="medium top_p1"><nobr><a href="/contacts/1" style="text-decoration: underline">ул. Спартаковская, д. 2 к.1</a></nobr></p>
      </div>
      <div class="top_col">
        <p class="medium top_p2"><span><a href="/contacts/2" style="text-decoration: underline">пр. Ибрагимова, 54</a></span></p>
      </div>
      <div class="top_col" >
        <p class="medium top_p3"><span><a href="/contacts/3" style="text-decoration: underline">ул. Сибгата Хакима, 42</a></span></p>
      </div>
    </div>
    <div class="col-lg-2 col-lg-offset-10 col-md-3 col-md-offset-9 hidden-sm">
      <div class="soc_links">
        <a href="https://vk.com/kosmetologiya_kazan" target="_blank" class="vk"></a>
        <a href="https://www.instagram.com/beauty_season_center/" target="_blank" class="insta"></a>
        <a href="https://www.youtube.com/channel/UCNfba3wYgoVGRYsACSGffag" target="_blank" class="youtube"></a>
      </div>
    </div>
  </div>
</header>
<div class="hidden-lg hidden-md hidden-sm text-center navbar-fixed-bottom" style="font-size: 1.4em;padding: 0px;">
  <a href="tel:+78432000322" class="btn btn-success">Позвонить</a>
  <button class="btn btn-primary" data-toggle="modal" data-target="#recall">Написать</button>
</div>