<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter28296001 = new Ya.Metrika({
                    id:28296001,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/28296001" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<!--LiveInternet counter--><script type="text/javascript"><!--
new Image().src = "//counter.yadro.ru/hit?r"+
    escape(document.referrer)+((typeof(screen)=="undefined")?"":
        ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
        screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
    ";h"+escape(document.title.substring(0,80))+
    ";"+Math.random();//--></script><!--/LiveInternet-->
<script type="text/javascript">(window.Image ? (new Image()) : document.createElement('img')).src = location.protocol + '//vk.com/rtrg?r=Kx/FCLrJE8rD35OdDn1kYnZxkNSzyvU4KPGXbnu..*y4jEictUjVNY6HTQDwEjclGOV2iBzHrNEAf1BwIkUMNkue3R2ZyVPchgXeVmp5UUoWYMZI*QjcD9tC9pBLa7blITlEGlFGgUDnyJnT4RwmcOwkV5gFQ-';</script>
<div class="violet_wave"></div>
<header class="header container hidden-xs">
  <div class="row">
    <div class="top_phones" style="width: 900px;">
      <div class="top_col" style="width: 160px;font-weight: bold;">+7 (843) 2000-322</div>
      <div class="top_col">
        <p class="medium top_p1"><nobr><a href="/contacts/1" style="text-decoration: underline">ул. Спартаковская, д. 2 к.1</a></nobr></p>
      </div>
      <div class="top_col">
        <p class="medium top_p2"><span><a href="/contacts/2" style="text-decoration: underline">пр. Ибрагимова, 54</a></span></p>
      </div>
      <div class="top_col" >
        <p class="medium top_p3"><span><a href="/contacts/3" style="text-decoration: underline">ул. Сибгата Хакима, 42</a></span></p>
      </div>
    </div>
    <div class="col-lg-2 col-lg-offset-10 col-md-3 col-md-offset-9 hidden-sm">
      <div class="soc_links">
        <a href="https://vk.com/kosmetologiya_kazan" target="_blank" class="vk"></a>
        <a href="https://www.instagram.com/beauty_season_center/" target="_blank" class="insta"></a>
        <a href="https://www.youtube.com/channel/UCNfba3wYgoVGRYsACSGffag" target="_blank" class="youtube"></a>
      </div>
    </div>
  </div>
</header>
<div class="hidden-lg hidden-md hidden-sm text-center navbar-fixed-bottom" style="font-size: 1.4em;padding: 0px;">
  <a href="tel:+78432000322" class="btn btn-success">Позвонить</a>
  <button class="btn btn-primary" data-toggle="modal" data-target="#recall">Написать</button>
</div>