<div style="margin: 50px auto;width: 60%;">
  <div style="text-align: center">
    <h1>Страница не найдена</h1>
    <p>К сожалению, запрошенная вами страница не существует на нашем сайте.</p>
  </div>
  <ul>
    <li>Вы ошиблись при вводе адреса;</li>
    <li>Вы перешли по неправильной ссылке;</li>
    <li>Вы перешли по правильной ссылке, но в результате реорганизации сайта данная страница была перенесена в другое место.</li>
  </ul>
  <div style="text-align: center;margin-bottom: 20px;">
  <p>Чтобы не явилось причиной такой неудачи вы всегда можете</p>
  <p><a href="/" class="btn btn-success btn-lg">Начать с начала</a></p>
  <p>либо</p>
  </div>
  <%=render :partial => 'app/order', :locals => {header: 'Задать вопрос'}%>
</div>