<div style="margin: 50px auto;width: 60%;">
  <div style="text-align: center">
    <h1>Технический сбой </h1>
    <p>Наши специалисты уже выясняют причину проблемы</p>
  </div>
  <%=render :partial => 'app/order', :locals => {header: 'Задать вопрос'}%>
</div>