<div class="page-header" style="padding-bottom: 0px;margin-bottom: 10px;">
  <h3 style="padding: 0px;">Частые вопросы</h3>
</div>
<strong>Как просходит оплата заказа?</strong>
<p>Оплата заказа производится в онлайн режиме через сервис <strong>Яндекс.Касса</strong>. Таким образом, безопасносное проведение платежей целиком берёт на себя лидер российской интернет отрасли компания Яндекс. Чтобы завершить оформление заказа и перейти к оплате, заполните форму в правой части страницы -></p>
<strong>Каким способом можно оплатить покупку через сервис Яндекс.Касса</strong>
<p>
<ul>
  <li>Пластиковые карты: Visa и MasterCard</li>
  <li>Электронные деньги: Webmoney,QIWI WALLET,Яндекс.Деньги</li>
  <li>Наличные: через салоны сотовой связи, терминалы оплаты, банкоматы и т.д.</li>
  <li>Интернет банки: АльфаБанк, Промсвязьбанк и др.</li>
</ul>
</p>
<strong>Как получить заказ</strong>
<p>После покупки вы получите письмо с номером своего электронного сертификата. Просто перешлите это письмо человеку, которому вы дарите сертификат</p>
<p>Если вы хотите получить бумажный сертификат, то это можно сделать 2-мя способами</p>
<ul>
  <li>Оформить доставку курьером. Стоимость доставки по городу - 150 рублей, если заказ от 3000 рублей, доставка бесплатная. Для этого отметьте в форме что вам нужна доставка</li>
  <li>
    Забрать сертификат из наших салонов по адресам:
    <ul>
    <li>ул. Спартаковская, д. 2 к 1 (ТЦ Караван).</li>
    <li>пр. Ибрагимова, 54</li>
    <li>ул. Сибгата Хакима, 42</li>
    </ul>
  </li>
</ul>
<strong>У меня не получается оформить заказ!</strong>
<p>Не беда, вы можете сделать это просто позвонив в наш Центр по телефонам <strong>+7(843)206-00-02, +7(843) 226-60-20, +7 (843) 2000-322</strong>. Менеджер примет заказ, а заодно и проконсультирует по вопросу выбора.</p>