<div style="font-size: 2.0em;width: 70%;text-align: center;">Сертификат</div>
<div style="font-size: 2.5em;width: 70%;text-align: center;">&laquo;<%=@order.content%>&raquo;</div>
<div style="font-size: 1.5em;width: 70%;text-align: center;">Специальная программа</div>