<div>
<div style="font-size: 1.4em;width: 100%;text-align: center;">Сертификат</div>
<div style="font-size: 1.8em;width: 100%;text-align: center;"><%=(@order.price).round %> рублей</div>
<div style="font-size: 1.2em;width: 100%;text-align: center;">на любые услуги</div>
<div style="font-size: 1.2em;width: 100%;text-align: center;">Центра эпиляции и косметологии</div>
</div>