<div style="font-size: 2.0em;width: 70%;text-align: center;">Сертификат</div>
<div style="font-size: 3.0em;width: 70%;text-align: center;"><%=@order.price%> рублей</div>
<div style="font-size: 1.5em;width: 70%;text-align: center;">на любые услуги</div>
<div style="font-size: 1.5em;width: 70%;text-align: center;">Центра эпиляции и косметологии</div>