<div class="hidden-lg hidden-md hidden-sm hidden-xs">
<div style="font-size: 1.4em;width: 90%;text-align: center;">Сертификат</div>
<div style="font-size: 1.8em;width: 90%;text-align: center;"><%=(@order.price/0.8).round %> рублей</div>
<div style="font-size: 1.2em;width: 90%;text-align: center;">на любые услуги</div>
<div style="font-size: 1.2em;width: 90%;text-align: center;">Центра эпиляции и косметологии</div>
</div>