<%
   meta :title => "Абонементы на косметологию в Казани",
        :description => 'Абонементы на услуги косметолога'
%>
<div class="main col-md-12" id="news">
  <!-- page-title start -->
  <!-- ================ -->
  <h1 class="page-title">Абонементы на косметологию в Казани</h1>
  <div class="separator-2"></div>
  <div class="row call-to-action" style="background-color: #E9E9E9;margin-bottom: 20px;">
    <div class="col-md-12" style="background-color: #92C9C5;text-align: left;color: #fff;font-size:1.2em;padding: 10px;">
      Абонементы на эпиляцию
    </div>
    <div class="col-md-4" style="padding: 15px;">
      <img src="<%=image_path('subscriptions/24.jpg')%>" class="img-responsive">
    </div>
    <div class="col-md-8" style="padding-top: 15px;text-align: left;">
      Абонементы на эпиляцию
      <div style="padding: 10px;"><a href="/subscriptions/section/1" class="btn btn-primary">Выбрать абонемент</a></div>
    </div>
  </div>
  <div class="row call-to-action" style="background-color: #E9E9E9;margin-bottom: 20px;">
    <div class="col-md-12" style="background-color: #92C9C5;text-align: left;color: #fff;font-size:1.2em;padding: 10px;">
      Абонементы на косметологические услуги
    </div>
    <div class="col-md-4" style="padding: 15px;">
      <img src="<%=image_path('subscriptions/23.jpg')%>" class="img-responsive">
    </div>
    <div class="col-md-8" style="padding-top: 15px;text-align: left;">
      Абонементы на косметологические услуги
      <div style="padding: 10px;"><a href="/subscriptions/section/2" class="btn btn-primary">Выбрать абонемент</a></div>
    </div>
  </div>
  <div class="row call-to-action" style="background-color: #E9E9E9;margin-bottom: 20px;">
    <div class="col-md-12" style="background-color: #92C9C5;text-align: left;color: #fff;font-size:1.2em;padding: 10px;">
      Абонементы на массаж и коррекцию фигуры
    </div>
    <div class="col-md-4" style="padding: 15px;">
      <img src="<%=image_path('subscriptions/25.jpg')%>" class="img-responsive">
    </div>
    <div class="col-md-8" style="padding-top: 15px;text-align: left;">
      Абонементы на массаж и коррекцию фигуры
      <div style="padding: 10px;"><a href="/subscriptions/section/3" class="btn btn-primary">Выбрать абонемент</a></div>
    </div>
  </div>
  <div class="row call-to-action" style="background-color: #E9E9E9;margin-bottom: 20px;">
    <div class="col-md-12" style="background-color: #92C9C5;text-align: left;color: #fff;font-size:1.2em;padding: 10px;">
      Абонементы на ногтевой сервис
    </div>
    <div class="col-md-4" style="padding: 15px;">
      <img src="<%=image_path('subscriptions/26.jpg')%>" class="img-responsive">
    </div>
    <div class="col-md-8" style="padding-top: 15px;text-align: left;">
      Абонементы на ногтевой сервис
      <div style="padding: 10px;"><a href="/subscriptions/section/4" class="btn btn-primary">Выбрать абонемент</a></div>
    </div>
  </div>
</div>
