<%
  meta :title => "#{@title} в Казани",
       :description => 'Абонементы на услуги косметолога'
%>
<div class="main col-md-12" id="news">
  <!-- page-title start -->
  <!-- ================ -->
  <h1 class="page-title"><%=@title%> в Казани</h1>
  <div class="separator-2"></div>
  <!-- page-title end -->
  <% if @subscriptions.length > 0 %>
      <%@subscriptions.each do |subscription|%>
          <%=render :partial => 'subscriptions/shared/item', locals: {subscription: subscription}%>
      <% end %>
  <% else %>
      <div class="well">Раздел находится в стадии заполения информацией</div>
  <% end %>
</div>
