<div class="wrapper wrapper-content animated fadeInRight">
  <div class="ibox">
    <div class="ibox-title">Добавить цену</div>
    <div class="ibox-content">
      <%=render :partial => 'manager/prices/form'%>
    </div>
  </div>
</div>