<%
   meta :title => 'Акции Центра эпиляции и косметологии',
        :description => 'Текущие акции, скидки и специальные предложения от центра эпиляции и косметологии'
%>
<div id="promos-list">
  <div class="page-header">
    <h1>Акции Центра эпиляции и косметологии</h1>
  </div>
  <table class="table">
    <%@promos.each_with_index do |promo,index|%>
        <tr>
          <td class="banner" style="width:100%;">
            <div class="wr">
              <table style="width: 100%">
                <tr>
                  <Td><%=image_tag promo.photo.url(:medium)%></Td>
                  <td>
                    <%=promo.banner.html_safe%>
                    <%=link_to "Подробнее о предложении", promo_path(promo), :class=>'btn btn-sm btn-primary'%>
                  </td>
                </tr>
              </table>
            </div>
          </td>
        </tr>
    <% end %>
  </table>
</div>
