<div id="promos-list">
  <div class="page-header">
    <h1>Акции Центра эпиляции и косметологии</h1>
  </div>
  <table class="table">
        <tr>
          <%@promos.each_with_index do |promo,index|%>
          <%if index > 0 && index%2 == 0%></tr><tr><% end %>
          <td class="banner">
            <div class="wr">
            <%=promo.banner.html_safe%>
            <%=link_to "Подробнее о предложении", promo_path(promo), :class=>'btn btn-sm btn-primary'%>
            </div>
          </td>
          <% end %>
        </tr>
  </table>
</div>
