<div class="row" style="padding-top:0px;">
  <div class="col-md-12" id="footer">
    <table>
      <tr>
        <td class="office">
          <nobr>2014 &copy; Центр эпиляции и косметологии</nobr>
          <div>
            ООО "Хелси джой"<br>
            Лицензия: ЛО-16-01-002859 от 15.08.2013
          </div>
        </td>
        <td>
          <h3>Эпиляция</h3>
          <ul>
            <li><a href="">Восковая эпиляция</a></li>
            <li><a href="">Сахарная эпиляция</a></li>
            <li><a href="">Лазерная эпиляция</a></li>
            <li><a href="">Бразильская эпиляция</a></li>
            <li><a href="">Бикини-дизайн</a></li>
          </ul>
          <h3>Коррекция фигуры</h3>
          <ul>
            <li><a href="">Мезотерапия тела</a></li>
            <li><a href="">Кедровая бочка</a></li>
            <li><a href="">Обертывание</a></li>
          </ul>
        </td>
        <td>
          <h3>Косметология</h3>
          <ul>
            <li><a href="">Биоревитализация</a></li>
            <li><a href="">Пилинг</a></li>
            <li><a href="">Чистки лица</a></li>
            <li><a href="">Контурная пластика</a></li>
            <li><a href="">Фотоомоложение</a></li>
            <li><a href="">Диспорт Ботокс</a></li>
            <li><a href="">Лечение гипергидроза</a></li>
            <li><a href="">Мезотерапия лица</a></li>
            <li><a href="">Лечение угрей</a></li>
            <li><a href="">Лазерное омоложение</a></li>
          </ul>
        </td>
        <td>
          <h3>Массаж</h3>
          <ul>
            <li><a href="">Точечный массаж</a></li>
            <li><a href="">Весцеральный массаж</a></li>
            <li><a href="">Антицеллюлитный массаж</a></li>
            <li><a href="">Массаж лица "36 движений"</a></li>
            <li><a href="">Массаж лица "Чарующие глазки"</a></li>
            <li><a href="">Массаж лица "Магия молодости"</a></li>
            <li><a href="">Массаж для мужчин «Цветок лотоса»</a></li>
            <li><a href="">Массаж шейно-плечевой области</a></li>
            <li><a href="">Массаж лица "Гуаша лица"</a></li>
            <li><a href="">Массаж «Гуаша рук и ног»</a></li>
            <li><a href="">Массаж «Гуаша спины»</a></li>
          </ul>
        </td>
        <td>
          <h3>Маникюр и педикюр</h3>
          <ul>
            <li><a href="">Маникюр аппаратный</a></li>
            <li><a href="">Маникюр европейский </a></li>
            <li><a href="">Маникюр классический </a></li>
            <li><a href="">Японский маникюр </a></li>
            <li><a href="">Горячий маникюр </a></li>
            <li><a href="">Лечебный маникюр </a></li>
            <li><a href="">Аппаратный педикюр </a></li>
            <li><a href="">SPA-педикюр </a></li>
            <li><a href="">Европейский педикюр </a></li>
            <li><a href="">Педикюр классический </a></li>
            <li><a href="">Парафинотерапия кистей и стоп</a></li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
</div>