<!-- footer start (Add "light" class to #footer in order to enable light footer) -->
<!-- ================ -->
<footer id="footer">

  <!-- .footer start -->
  <!-- ================ -->
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="footer-content">
            <div class="row">
              <div class="col-sm-6">
                <div>
                <a href="<%=image_url 'license.png'%>" style="display: block;float:left"><%=image_tag 'license_th.png'%></a>
                <a href="<%=image_url 'license_back.png'%>" style="display: block;float:left"><%=image_tag 'license_back_th.png'%></a>
                </div>
                <div class="clearfix"></div>
                <p style="padding-top: 5px;">Центр эпиляции и косметологии действует по лицензии ЛО-16-01-002859 от 15.08.2013 </p>
              </div>
              <div class="col-sm-6">
                <ul class="list-icons">
                  <li><i class="fa fa-map-marker pr-10"></i> Казань, ул. Спартаковская, 2а <br><span style="font-size:0.8em;">Вахитовский район, рядом ул. Островского, ул. Cалимжанова, ул. Петербургская, ул. Вишневского</span></li>
                  <li><i class="fa fa-phone pr-10"></i> +7 (987) 292-55-41</li>
                  <li><i class="fa fa-phone pr-10"></i> +7 (843) 2000-322</li>
                  <li><i class="fa fa-map-marker pr-10"></i> Казань, пр. Ибрагимова, 54 (Фитнес центр «Олимп») <br><span style="font-size:0.8em;">Московский район, рядом ул. Декабристов, ул. Восстания, ул. Вахитова</span></li>
                  <li><i class="fa fa-phone pr-10"></i> +7 (843) 226-60-20</li>
                  <li><i class="fa fa-envelope-o pr-10"></i>epi.center.kazan@yandex.ru</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="space-bottom hidden-lg hidden-xs"></div>
        <div class="col-sm-6 col-md-2">
          <div class="footer-content">
            <nav>
              <ul class="nav nav-pills nav-stacked">
                <li><a href="/section/epilyaciya.html">Эпиляция</a></li>
                <li class="active"><a href="/section/kosmetology.html">Косметология</a></li>
                <li><a href="/section/lechecnie-volos.html">Лечение волос</a></li>
                <li><a href="/section/korrekciya-figuri.html">Коррекция фигуры</a></li>
                <li><a href="/section/massage.html">Массаж</a></li>
                <li><a href="/services/80-piercing.html">Пирсинг</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="footer-content">
            <!-- VK Widget -->
            <div id="vk_groups"></div>
            <script type="text/javascript">VK.Widgets.Group("vk_groups",{mode:0,width:"350",height:"200",color1:'FFFFFF',color2:'2B587A',color3:'5B7FA6'},60572647);</script>
          </div>
        </div>
      </div>
      <div class="space-bottom hidden-lg hidden-xs"></div>
    </div>
  </div>
  <!-- .footer end -->

  <!-- .subfooter start -->
  <!-- ================ -->
  <div class="subfooter">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>Copyright © 2015 Центр эпиляции и косметологии</p>
        </div>
        <div class="col-md-6">

        </div>
      </div>
    </div>
  </div>
  <!-- .subfootffer end -->

</footer>
<link rel="stylesheet" href="https://cdn.callbackkiller.com/widget/cbk.css">
<script type="text/javascript" src="https://cdn.callbackkiller.com/widget/cbk.js?cbk_code=16969" charset="UTF-8" async></script>