<!-- footer start (Add "light" class to #footer in order to enable light footer) -->
<!-- ================ -->
<footer id="footer">

  <!-- .footer start -->
  <!-- ================ -->
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="footer-content">
            <div class="row">
              <div class="col-sm-6">
                <p>Центр эпиляции и косметологии действует по лицензии ЛО-16-01-002859 от 15.08.2013 </p>
                <!--<ul class="social-links circle">
                  <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                  <li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                  <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
                  <li class="skype"><a target="_blank" href="http://www.skype.com"><i class="fa fa-skype"></i></a></li>
                  <li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
                </ul>-->
              </div>
              <div class="col-sm-6">
                <ul class="list-icons">
                  <li><i class="fa fa-map-marker pr-10"></i> Казань, ул. Спартаковская, 2а</li>
                  <li><i class="fa fa-phone pr-10"></i> +7 (987) 292-55-41</li>
                  <li><i class="fa fa-phone pr-10"></i> +7 (843) 2000-322</li>
                  <li><i class="fa fa-envelope-o pr-10"></i>epi.center.kazan@yandex.ru</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="space-bottom hidden-lg hidden-xs"></div>
        <div class="col-sm-6 col-md-2">
          <div class="footer-content">
            <nav>
              <ul class="nav nav-pills nav-stacked">
                <li><a href="/section/epilyaciya.html">Эпиляция</a></li>
                <li class="active"><a href="/section/kosmetology.html">Косметология</a></li>
                <li><a href="/section/lechecnie-volos.html">Лечение волос</a></li>
                <li><a href="/section/korrekciya-figuri.html">Коррекция фигуры</a></li>
                <li><a href="/section/massage.html">Массаж</a></li>
                <li><a href="/services/80-piercing.html">Пирсинг</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="footer-content">
            <script type="text/javascript" src="//vk.com/js/api/openapi.js?116"></script>

            <!-- VK Widget -->
            <div id="vk_groups"></div>
            <script type="text/javascript">VK.Widgets.Group("vk_groups",{mode:0,width:"350",height:"200",color1:'FFFFFF',color2:'2B587A',color3:'5B7FA6'},60572647);</script>
          </div>
        </div>
      </div>
      <div class="space-bottom hidden-lg hidden-xs"></div>
    </div>
  </div>
  <!-- .footer end -->

  <!-- .subfooter start -->
  <!-- ================ -->
  <div class="subfooter">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>Copyright © 2014 Центр эпиляции и косметологии</p>
        </div>
        <div class="col-md-6">

        </div>
      </div>
    </div>
  </div>
  <!-- .subfooter end -->

</footer>
<!-- footer end -->
