<!-- footer start (Add "light" class to #footer in order to enable light footer) -->
<!-- ================ -->
<footer id="footer">

  <!-- .footer start -->
  <!-- ================ -->
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="footer-content">
            <div class="row">
              <div class="col-sm-6">
                <div>
                <a href="<%=image_url 'license.png'%>" style="display: block;float:left"><%=image_tag 'license_th.png'%></a>
                <a href="<%=image_url 'license_back.png'%>" style="display: block;float:left"><%=image_tag 'license_back_th.png'%></a>
                </div>
                <div class="clearfix"></div>
                <p style="padding-top: 5px;">Центр эпиляции и косметологии действует по лицензии ЛО-16-01-002859 от 15.08.2013 </p>
              </div>
              <div class="col-sm-6">
                <ul class="list-icons">
                  <li><i class="fa fa-map-marker pr-10"></i> Казань, ул. Спартаковская, 2а <br><span style="font-size:0.8em;">Вахитовский район, рядом ул. Островского, ул. Cалимжанова, ул. Петербургская, ул. Вишневского</span></li>
                  <li><i class="fa fa-phone pr-10"></i> +7 (987) 292-55-41</li>
                  <li><i class="fa fa-phone pr-10"></i> +7 (843) 2000-322</li>
                  <li><i class="fa fa-map-marker pr-10"></i> Казань, пр. Ибрагимова, 54 (Фитнес центр «Олимп») <br><span style="font-size:0.8em;">Московский район, рядом ул. Декабристов, ул. Восстания, ул. Вахитова</span></li>
                  <li><i class="fa fa-phone pr-10"></i> +7 (843) 226-60-20</li>
                  <li><i class="fa fa-envelope-o pr-10"></i>epi.center.kazan@yandex.ru</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="space-bottom hidden-lg hidden-xs"></div>
        <div class="col-sm-6 col-md-2">
          <div class="footer-content">
            <nav>
              <ul class="nav nav-pills nav-stacked">
                <li><a href="/section/epilyaciya.html">Эпиляция</a></li>
                <li class="active"><a href="/section/kosmetology.html">Косметология</a></li>
                <li><a href="/section/lechecnie-volos.html">Лечение волос</a></li>
                <li><a href="/section/korrekciya-figuri.html">Коррекция фигуры</a></li>
                <li><a href="/section/massage.html">Массаж</a></li>
                <li><a href="/services/80-piercing.html">Пирсинг</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="footer-content">
            <script type="text/javascript" src="//vk.com/js/api/openapi.js?116"></script>

            <!-- VK Widget -->
            <div id="vk_groups"></div>
            <script type="text/javascript">VK.Widgets.Group("vk_groups",{mode:0,width:"350",height:"200",color1:'FFFFFF',color2:'2B587A',color3:'5B7FA6'},60572647);</script>
          </div>
        </div>
      </div>
      <div class="space-bottom hidden-lg hidden-xs"></div>
    </div>
  </div>
  <!-- .footer end -->

  <!-- .subfooter start -->
  <!-- ================ -->
  <div class="subfooter">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>Copyright © 2015 Центр эпиляции и косметологии</p>
        </div>
        <div class="col-md-6">

        </div>
      </div>
    </div>
  </div>
  <!-- .subfooter end -->

</footer>
<!-- footer end -->
<div id="infoblock"><div class="button"></div>
<!-- SmartResponder.ru subscribe form code (begin) -->
<link rel="stylesheet" href="https://imgs.smartresponder.ru/e1bbeb24091b44f1f4048bbc87edacd11278fd23/">
<script type="text/javascript" src="https://imgs.smartresponder.ru/52568378bec6f68117c48f2f786db466014ee5a0/"></script>
<script type="text/javascript">
    _sr(function() {
        _sr('form[name="SR_form_320240_22"]').find('div#sr-preload_').prop('id', 'sr-preload_320240_22');
        _sr('#sr-preload_320240_22').css({'width':parseInt(_sr('form[name="SR_form_320240_22"]').width() + 'px'), 'height':parseInt(_sr('form[name="SR_form_320240_22"]').height()) + 'px', 'line-height':parseInt(_sr('form[name="SR_form_320240_22"]').height()) + 'px'}).show();
        if(_sr('form[name="SR_form_320240_22"]').find('input[name="script_url_320240_22"]').length) {
            _sr.ajax({
                url: _sr('input[name="script_url_320240_22"]').val() + '/' + (typeof document.charset !== 'undefined' ? document.charset : document.characterSet),
                dataType: "script",
                success: function() {
                    _sr('#sr-preload_320240_22').hide();
                }
            });
        }
    });
</script>
<div id="outer_alignment" align="left">
    <form style="width: 321px; border: 1px solid rgb(135, 135, 135); margin:0 ;" class="sr-box" method="post" action="https://smartresponder.ru/subscribe.html" target="_blank" name="SR_form_320240_22">
        <input name="field_name" class="sr-name" type="text">
        <div id="sr-preload_" style="display: none; background-color: #f6f6f6; opacity: 0.5; position: absolute; z-index: 100; text-align: center; font: bold 15px Arial;">Загрузка...</div>
        <ul class="sr-box-list"><li class="sr-320240_22" style="text-align: center; border: 0px none; height: auto; padding: 3px;"><label style="font-family: arial; color: rgb(59, 59, 59); font-size: 13px; font-weight: bold; background: transparent url('https://imgs.smartresponder.ru/on/d363712d76c7bcfb99bf419b2122ebd7afbfd10f/') no-repeat scroll center bottom; width: 100%; text-align: center; box-sizing: border-box; border-radius: 6px 6px 0px 0px; line-height: 25px; padding: 15px 25px; height: auto;" class="">Заполните форму — получите сертификат на 500 рублей прямо сейчас!</label><input style="font-family: Arial; color: rgb(0, 0, 0); font-size: 12px; font-style: normal; font-weight: normal; background-color: rgb(255, 255, 255); border: medium none; box-shadow: none;" value="" name="element_header" type="hidden"></li><li class="sr-320240_22" style="text-align: center; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-radius: 0px; height: 56px;"><label class="remove_labels" style="font-weight: normal; font-family: arial; color: rgb(0, 0, 0); font-size: 13px; font-style: normal; display: none;"></label><input value="Ваше имя" style="background-image: none; font-weight: normal; background-color: rgb(255, 255, 255); font-family: arial; color: rgb(89, 87, 89); font-size: 12px; font-style: normal; border: 1px solid rgb(191, 191, 191); border-radius: 6px; height: 40px; box-shadow: none; margin-top: 15px;" name="field_name_first" type="text"></li><li class="sr-320240_22" class="" style="position: relative; top: 0px; left: 0px; text-align: center; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-radius: 0px; height: 56px;">
		<label class="remove_labels" style="font-weight: normal; font-family: arial; color: rgb(0, 0, 0); font-size: 12px; font-style: normal; display: none;"></label>
<input value="Ваш email-адрес" style="background-image: none; font-weight: normal; background-color: rgb(255, 255, 255); font-family: arial; color: rgb(87, 86, 87); font-size: 13px; font-style: normal; border: 1px solid rgb(191, 191, 191); border-radius: 6px; height: 40px; box-shadow: none; margin-top: 15px;" name="field_email" class="sr-required" type="text">
            </li><li class="sr-320240_22" style="text-align: center; border-radius: 0px; height: 56px;"><label class="remove_labels" style="font-weight: normal; font-family: arial; color: rgb(0, 0, 0); font-size: 12px; font-style: normal; display: none;"></label><input value="Контактный телефон:" style="background-image: none; font-weight: normal; background-color: rgb(255, 255, 255); font-family: arial; color: rgb(84, 84, 84); font-size: 13px; font-style: normal; border: 1px solid rgb(191, 191, 191); border-radius: 6px; height: 40px; box-shadow: none; margin-top: 15px;" name="field_phones" type="text"></li><li class="sr-320240_22" style="text-align: center; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-radius: 0px 0px 6px 6px; border: 0px none; height: 90px;"><table id="elem_table_subscribe" style="display: inline-table; border-collapse: separate; margin-top: 20px;" border="0" cellpadding="0" cellspacing="0"><tbody><tr><td style="background: transparent url('https://imgs.smartresponder.ru/on/cda4dafe28d42c41a1f9ca54b999d67d090259c2/') no-repeat scroll left center; width: 8px; height: 46px;" id="elem_left_subscribe" valign="middle"></td><td id="elem_container_subscribe" style="vertical-align: middle;"><input style="font-family: arial; color: rgb(0, 0, 0); font-size: 16px; font-weight: bold; border: 0px solid rgb(240, 240, 240); background: transparent url('https://imgs.smartresponder.ru/on/1afb55a144d3af2eb25b9d0ff1506c170f7264d9/') repeat scroll left center; height: 46px; width: 100%; margin: 0px; padding: 0px 25px; box-shadow: none;" name="subscribe" value="Получить сертификат!" type="submit"></td><td style="background: transparent url('https://imgs.smartresponder.ru/on/dcfc04295d2410ac243ec802beeb783585674e9e/') no-repeat scroll left center; width: 8px; height: 46px;" id="elem_right_subscribe"></td></tr></tbody></table></li></ul>
        <input name="uid" value="673411" type="hidden">
    <input name="did[]" value="825013" type="hidden"><input name="tid" value="0" type="hidden"><input name="lang" value="ru" type="hidden"><input value="https://imgs.smartresponder.ru/on/068ee348492b3d48ea476cbf19c04e80266fdcaa/320240_22" name="script_url_320240_22" type="hidden"></form>
</div>
<!-- SmartResponder.ru subscribe form code (end) -->
</div>