<!--LiveInternet counter--><script type="text/javascript"><!--
new Image().src = "//counter.yadro.ru/hit?r"+
        escape(document.referrer)+((typeof(screen)=="undefined")?"":
        ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
        screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
        ";h"+escape(document.title.substring(0,80))+
        ";"+Math.random();//--></script><!--/LiveInternet-->
<!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter28296001 = new Ya.Metrika({id:28296001, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/28296001" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
<script type="text/javascript">(window.Image ? (new Image()) : document.createElement('img')).src = location.protocol + '//vk.com/rtrg?r=Kx/FCLrJE8rD35OdDn1kYnZxkNSzyvU4KPGXbnu..*y4jEictUjVNY6HTQDwEjclGOV2iBzHrNEAf1BwIkUMNkue3R2ZyVPchgXeVmp5UUoWYMZI*QjcD9tC9pBLa7blITlEGlFGgUDnyJnT4RwmcOwkV5gFQ-';</script>
<div class="header-top">
  <div class="container">
    <div class="row">
      <div class="col-xs-2  col-sm-6">

        <!-- header-top-first start 29-04 -->
        <!-- ================ -->
        <div class="header-top-first clearfix">
          <ul class="social-links clearfix hidden-xs">
            <li style="width:165px;"><a href="javascript://" style="color:#7A5230;font-weight: bold;"><nobr><i class="fa fa-phone"></i> +7 (843) 2000-322</nobr></a></li>
            <li class="instagram"><a target="_blank" href="https://www.instagram.com/kosmetologiya_kazan/"><i class="fa fa-instagram"></i></a></li>
            <li class="youtube"><a target="_blank" href="http://www.youtube.com/channel/UCMybbiz-6UAJyZW92GIynhw"><i class="fa fa-youtube-play"></i></a></li>
            <li class="instagram"><a target="_blank" href="https://vk.com/kosmetologiya_kazan"><i class="fa fa-vk"></i></a></li>
          </ul>
          <div class="social-links hidden-lg hidden-md hidden-sm">
            <div class="btn-group dropdown">
              <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><i class="fa fa-phone"></i> Наши телефоны</button>
              <ul class="dropdown-menu dropdown-animation">
                <li class="twitter" style="display: block"><a target="_blank" href="#"><nobr>+7 (843) 2000-322</nobr></a></li>
                <li class="twitter" style="display: block"><a target="_blank" href="#"><nobr>+7 (987) 292-55-41</nobr></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- header-top-first end -->

      </div>
      <div class="col-xs-10 col-sm-6">

        <!-- header-top-second start -->
        <!-- ================ -->
        <div id="header-top-second"  class="clearfix">

          <!-- header top dropdowns start -->
          <!-- ================ -->
          <div class="header-top-dropdown">
            <div class="btn-group dropdown hidden-sm hidden-xs">
              <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" style="color: #614126;font-weight: bold;"><i class="fa fa-phone"></i><span style="font-size:14px;">Обратный звонок</span></button>
              <ul class="dropdown-menu dropdown-menu-right dropdown-animation" style="padding-bottom: 0px;">
                <li>
                  <% if flash[:notice] && flash[:notice] == 'Order was created' %>
                      <div id="modal-show" data-id="recall">Спасибо, Ваша заявка принята. Мы перезвоним Вам в ближайшее время</div>
                  <% else %>
                      <%= form_for [Order.new] do |f| %>
                          <div class="form-group has-feedback">
                            <i class="fa fa-phone form-control-feedback"></i>
                            <input type="text" class="form-control" placeholder="Пример: +79033003300" name="order[contacts]" required>
                            <input type="hidden" name="order[content]" value="Перезвоните мне пожалуйста">
                            <span class="help-block m-b-none" style="font-size:11px;">Введите Ваш телефон и нажмите Enter.<br>Мы перезвоним вам в ближайшее время</span>
                          </div>
                      <% end %>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
          <!--  header top dropdowns end -->

        </div>
        <!-- header-top-second end -->

      </div>
    </div>
  </div>
</div>

<header class="header clearfix" <%if defined?(@service) && (@service.id == 79 || @service.id == 109 || @service.id == 74) %>style="border-bottom-width: 0px;"<% end %>>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="header-left clearfix">
          <!-- logo -->
          <div class="logo">
            <a href="/"><%=image_tag 'logo.png'%></a>
          </div>
        </div>
        <!-- header-left end -->
      </div>
      <div class="col-md-9">

        <!-- header-right start -->
        <!-- ================ -->
        <div class="header-right clearfix">
          <%=render :partial => 'app/navbar'%>
        </div>
        <!-- header-right end -->

      </div>
    </div>
  </div>
</header>