<!-- Yandex.Metrika counter -->
<script type="text/javascript">
  (function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
      try {
        w.yaCounter28296001 = new Ya.Metrika({
          id:28296001,
          clickmap:true,
          trackLinks:true,
          accurateTrackBounce:true,
          webvisor:true
        });
      } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = "https://mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
      d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
  })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/28296001" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<!--LiveInternet counter--><script type="text/javascript"><!--
new Image().src = "//counter.yadro.ru/hit?r"+
    escape(document.referrer)+((typeof(screen)=="undefined")?"":
    ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
        screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
    ";h"+escape(document.title.substring(0,80))+
    ";"+Math.random();//--></script><!--/LiveInternet-->
<script type="text/javascript">(window.Image ? (new Image()) : document.createElement('img')).src = location.protocol + '//vk.com/rtrg?r=Kx/FCLrJE8rD35OdDn1kYnZxkNSzyvU4KPGXbnu..*y4jEictUjVNY6HTQDwEjclGOV2iBzHrNEAf1BwIkUMNkue3R2ZyVPchgXeVmp5UUoWYMZI*QjcD9tC9pBLa7blITlEGlFGgUDnyJnT4RwmcOwkV5gFQ-';</script>
<div class="header-top">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xs-12">

        <!-- header-top-first start 29-04 -->
        <!-- ================ -->
        <div class="header-top-first clearfix">
          <ul class="social-links clearfix hidden-xs">
            <li style="width:365px;">
              <a href="javascript://" style="color:#7A5230;font-weight: bold;"><nobr><i class="fa fa-phone"></i> +7 (843) 2000-322, ул. Спартаковская, д. 2 к.1</nobr></a><br>
              <a href="javascript://" style="color:#7A5230;font-weight: bold;"><nobr><i class="fa fa-phone"></i> +7 (843) 226-60-20, пр. Ибрагимова, 54</nobr></a>
              <a href="javascript://" style="color:#7A5230;font-weight: bold;"><nobr><i class="fa fa-phone"></i> +7(843) 206-00-02 ул. Сибгата Хакима, 42</nobr></a>
            </li>
          </ul>
          <div class="hidden-lg hidden-md hidden-sm text-center navbar-fixed-top" style="font-size: 1.4em;padding: 5px;background-color:#e0e0e0">
            <!--Спартаковская, 2 к.1: <a href="tel:+78432000322" style="text-decoration: underline">2000-322</a><br><a href="tel:+79872925541">Ибрагимова, 54: 226-60-20</a><br><a href="tel:+78432060002">Сибгата Хакима, 42: 206-00-02</a>-->
            <button class="btn btn-success" data-toggle="modal" data-target="#mobile_call">Позвонить</button>
          </div>
        </div>
        <!-- header-top-first end -->

      </div>
      <div class="col-xs-10 col-sm-6">

        <!-- header-top-second start -->
        <!-- ================ -->

          <!-- header top dropdowns start -->
          <!-- ================ -->
            <div class="hidden-sm hidden-xs text-right" style="padding-top: 15px;">
              <a target="_blank" href="https://www.instagram.com/kosmetologiya_kazan/"><i class="fa fa-instagram" style="font-size: 2.4em;"></i></a> &nbsp;&nbsp;
              <a target="_blank" href="http://www.youtube.com/channel/UCMybbiz-6UAJyZW92GIynhw"><i class="fa fa-youtube-play" style="font-size: 2.4em;"></i></a> &nbsp;&nbsp;
              <a target="_blank" href="https://vk.com/kosmetologiya_kazan"><i class="fa fa-vk" style="font-size: 2.4em;"></i></a> &nbsp;&nbsp;
              <button class="btn-lg btn-default dropdown-toggle" href="javascript://" data-toggle="modal" data-target="#recall" style="margin-top: -5px;font-size: 14px;"><i class="fa fa-phone"></i> обратный звонок</button>
            </div>
          <!--  header top dropdowns end -->

        <!-- header-top-second end -->

      </div>
    </div>
  </div>
</div>

<header <% if browser.device.mobile? %>style="padding-top:100px;"<% end %> class="header clearfix" <%if defined?(@service) && (@service.id == 79 || @service.id == 109 || @service.id == 74) %>style="border-bottom-width: 0px;"<% end %>>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="header-left clearfix">
          <!-- logo -->
          <div class="logo">
            <a href="/"><%=image_tag 'logo.png'%></a>
          </div>
        </div>
        <!-- header-left end -->
      </div>
      <div class="col-md-9">

        <!-- header-right start -->
        <!-- ================ -->
        <div class="header-right clearfix">
          <%=render :partial => 'app/navbar'%>
        </div>
        <!-- header-right end -->

      </div>
    </div>
  </div>
</header>