<div class="container">
  <div class="row">
    <div class="col-md-4" id="logo">
      <div class="wrapper">
        <%=image_tag 'logo.png'%>
        <div class="address">
          ул. Спартаковская д. 2а<br>
          тел. +7 (987) 292-55-41<br>
          пн-вс 9.00 - 21.00
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div id="promos-top" class="slick-slider">
        <% Promo.where('fl_top = 1 AND fl_active = 1').each do |promo|%>
            <div>
            <table>
              <tr>
                <td class="i"><%=image_tag promo.photo.url(:medium)%></td>
                <td class="t">
                  <%=promo.banner.html_safe%>
                  <%=link_to "Подробнее о предложении", promo_path(promo), :class=>'btn btn-sm btn-primary'%>
                </td>
              </tr>
            </table>
            </div>
        <% end %>

      </div>
    </div>
  </div>
</div>