<%
  @issues = Issue.where('parent_id = 0').order('id ASC')
%>
<div style="padding: 10px 10px 10px 10px;background-color: #EFEFEF;font-size: 12px;">
  <div style="float:left;padding-top: 7px;padding-right: 10px;"><i class="glyphicon glyphicon-circle-arrow-down" style="font-size: 3.5em;text-shadow: 0px 0px 5px #555;color: #fff"></i></div>
  Кликните на проблеме, которая вас беспокоит и мы подскажем возможные пути решения
</div>
<ul class="list-group" id="menu">
  <%@issues.each do |issue|%>
      <a class="list-group-item active"><%=issue.name%></a>
      <%Issue.where('fl_show = 1 AND parent_id = ?',issue.id).each_with_index do |issue,index|%>
          <%=link_to issue_path(url:issue.url), :class=>"list-group-item" do %>
            <%=issue.name%>
          <% end %>
      <% end %>
  <% end %>
</ul>