<div class="order-form">
  <div class="page-header">
    <h1><%if defined?(header) %><%=header%><%else%>Записаться на приём<%end%></h1>
  </div>
  <%=render :partial => 'app/order/form' %>
  <div style="margin-top: 10px;">Внимание! Запись предварительная. Наш администратор свяжется с вами и уточнит конкретное время</div>
</div>