<%
   if not defined?(text)
       text = ''
   end
   if not defined?(metrika_code)
       metrika_code = ''
   end
%>
<div class="order-form">
  <div class="page-header">
    <h1><%if defined?(header) %><%=header%><%else%>Записаться<%end%></h1>
  </div>
  <%=render :partial => 'app/order/form', locals: {text: text, metrika_code: metrika_code} %>
  <% if !defined?(header) %>
  <div style="margin-top: 10px;border-top:1px solid #ccc;padding-top:5px;">Вы также можете сами позвонить по телефону <strong>+7 (843) 2000-322</strong>. Наш администратор ответит на любые вопросы и запишет вас на процедуры в удобное время.</div>
  <% end %>
</div>