<table class="table table-striped">
  <%pricelist.each do |item|%>
      <tr>
        <% if /#/.match(item) %>
            <%if /:/.match(item)%>
              <%item.gsub('#','').split(/:/).each do |th|%>
                <th><%=th.html_safe%></th>
              <% end %>
            <% else %>
              <td colspan="5" class="subcap">
                <h3><%=render :partial=>'app/pricelist/name',:locals => {item:item}%></h3>
              </td>
            <% end %>
        <% else %>
            <td>
                <%=render :partial=>'app/pricelist/name',:locals => {item:item}%>
            </td>
            <%a = item.split(/:/)%>
            <%a.slice(1,a.length).each do |price|%>
              <td class="cost"><nobr><%=price.html_safe%> <span class="rouble">ла</span></nobr></td>
            <% end %>
        <% end %>
      </tr>
  <% end %>
</table>