<%
    unless @service == nil
        prices_w = Price.where('service_id = ? AND gender_id = 2',@service.id)
        prices_m = Price.where('service_id = ? AND gender_id = 1',@service.id)
        prices_a = Price.where('service_id = ?  AND gender_id = 3',@service.id)
        prices = Price.where('service_id = ? AND parent_id = 0',@service.id)
    end
    @fl_new = false;
%>
<% if defined?(collapsed) && defined?(prices) && prices.length > 0 %>

    <div class="panel" style="margin: 0px;" id="global-pricelist">
        <% if @service == nil %>
            <%=render :partial => 'app/pricelist/price_block', locals: {prices: prices} %>
        <% else %>
            <% if prices_w.length > 0 %>
                <h3>Женский прайс</h3>
                <%=render :partial => 'app/pricelist/price_block', locals: {prices: prices, gender_id: 2}%>
            <% end %>
            <% if prices_m.length > 0 %>
                <h3>Мужской прайс</h3>
                <%=render :partial => 'app/pricelist/price_block', locals: {prices: prices, gender_id: 1}%>
            <% end %>
            <% if prices_a.length > 0 %>
              <h3>Общий прайс</h3>
              <%=render :partial => 'app/pricelist/price_block', locals: {prices: prices, gender_id: 3}%>
          <% end %>
        <% end %>
    </div>
<% else %>
    <div class="panel" style="margin: 0px;" id="global-pricelist">
        Цена по запросу
    </div>
<% end %>