<%
    unless @service == nil
        prices = Price.where('service_id = ? AND parent_id = 0',@service.id)
    end
    @fl_new = false;
%>
<% if defined?(collapsed) && defined?(prices) && prices.length > 0 %>
    <!--<p>Раскройте интересующий вас блок чтобы узнать все цены</p>-->
    <div class="panel" style="margin: 0px;" id="global-pricelist">
      <%prices.each do |service|%>
          <% if service.price > 0 %>
              <% unless params[:gender_id] && service.gender_id != params[:gender_id].to_i %>
                   <%= render :partial => 'app/pricelist/plain', locals: {service: service}%>
              <% end %>
          <% else %>
              <%= render :partial => 'app/pricelist/collapsed', locals: {service: service}%>
          <% end %>
      <% end %>
    </div>
<% else %>
    <div class="panel" style="margin: 0px;" id="global-pricelist">
        Цена по запросу
    </div>
<% end %>
<% if @fl_new %>
<div style="padding: 10px 0px 0px 0px;">
  * скидка действует на первое посещение
</div>
<% end %>