<div class="section clearfix object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="200" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="text-center">Наши преимущества</h2>
        <div class="separator"></div>
        <ul>
        <li>Качественный и бережный сервис. У нас <a href="/experts/">работают специалисты</a> с огромным опытом работы в области косметологии.</li>
        <li>Удобный график работы. Мы работаем без обеда и выходных, с 9 утра до 9 часов вечера</li>
        <li><a href="/services/prices">Список наших услуг</a> постоянно расширяется и модернизируется. Мы несколько раз в год закупаем новое оборудование.</li>
        <li>У нас внедрена и работает действительно гибкая <a href="/promos/">система скидок и акций</a>. К примеру, абонемент на многие процедуры до 30% дешевле разовых посещений.</li>
        <li>Посетители <a href="/responces/">тепло отзываются</a> о нашем центре и рекомендуют его друзьям</li>
        </ul>
      </div>
      <div class="col-md-6">
        <h2 class="text-center">Заказать обратный звонок</h2>
        <div class="separator"></div>
        <%=render :partial => 'app/order/form'%>
      </div>
    </div>
  </div>
</div>