<div class="section clearfix" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="text-center">Наши преимущества</h2>
        <div class="separator"></div>
        <ul>
          <!--<li><h4>Начинаем с профессиональной консультации</h4>
          <p>Мы начинаем процедуру с заведения карты клиента, ознакомления с показаниями и противопоказаниями, определения вашего фототипа (при процедуре аппаратной эпиляции) и
          полноценной <a href="/services/83-konsultaciya-vracha-dermatologa.html">врачебной консультации</a>.</p>
          </li>
          <li><h4>Гарантируем безопасность процедур</h4>
              <p>И бережно относимся к каждому клиенту соблюдая все санитарные правила. Все многоразовые инструменты проходят все этапы дезинфекции, предстерилизационной очистки и стерилизации в сухожаровом шкафу.</p>
          </li>
          <li>
            <h4>Работаем только на новом и одобренном оборудовании</h4>
            <p>В нашем центре новейшее оборудование последнего поколения, <a href="/faqs/22">имеющее регистрационное удостоверение</a> и одобрение <abbr title="Управление по санитарному надзору за качеством пищевых продуктов и медикаментов США">FDA</abbr>.</p>
          </li>
          <li>
            <h4>Учитываем особенности вашего организма</h4>
            <p>До и во время процедуры основное внимание <a href="/experts/">наших мастеров</a> направлено на Вас, чтобы именно Вам во время процедуры было максимально удобно и комфортно.</p>
          </li>
          <li><h4>Превращаем процедуру в комфортный отдых</h4>
            <p>Поэтому в нашем центре мы постарались создать максимально комфортную и приятную обстановку - возможность воспользоваться планшетным компьютером, WF зоной, возможность выпить чая или горячего кофе.</p>
          </li>-->
          <li>
            <h4>Cкидка ко дню рождения.</h4>
            <p>В течение 2 недель вы можете пройти процедуры со скидкой до 50%</p>
          </li>
          <li>
            <h4>Подарочные сертификаты с доставкой.</h4>
            <p>Выберите <a href="/certificates">любой сертификат</a> на сумму более 3000 рублей, и мы доставим его вам.</p>
          </li>
          <li>
            <h4>Абонементы. Скидка от 20 % до 56%.</h4>
             <p>С <a href="/subscriptions">нашими абонементами</a> выгодно проходить курсовые или комплексные программы.</p>
          </li>
          <li>
            <h4>С друзьями – цены пополам!</h4>
            <p>Пригласите вашего друга на процедуру со скидкой 50% и сами вы воспользуйтесь аналогичной скидкой. Неограниченное количество друзей.</p>
          </li>
          <li>
            <h4>Накопительная система бонусов в размере 5%.</h4>
            <p>На карту зачисляются бонусы в размере 5 % от Ваших покупок и процедур, и от покупок и процедур Ваших друзей. Бонусами можно расплачиваться за покупки и процедуры в размере 50% от стоимости покупки.</p>
          </li>
          <li>
            <h4>Карта прохождения процедур со скидкой до 45%.</h4>
            <p>По данной карте предоставляется дополнительная скидка на каждую следующую процедуру в размере 5% и достигает 45%. На каждую услугу оформляется отдельная карта.</p>
          </li>
        </ul>
      </div>
      <div class="col-md-6" id="main-order-form-wrapper">
        <h2 class="text-center">Запросить обратный звонок</h2>
        <div class="separator"></div>
        <%=render :partial => 'app/order/form'%>
      </div>
    </div>
  </div>
</div>