<h2 class="text-center">Уникальное предложение</h2>
<div class="separator"></div>
<div class="section clearfix" style="padding:0px;margin: 0px;">
<div class="container">
    <div class="row" style="background-color: #f4f4ee ">
      <div class="col-md-4" style="padding-left: 0px;">
        <img src="<%=image_path('lazer_woman.png')%>" class="img-responsive">
      </div>
      <div class="col-md-8 text-center">
        <div style="font-size: 3.0em;line-height: 1.0em;margin-top: 20px;">Лазерное омоложение<br>на аппарате DOT 2</div>
        <div style="font-size: 2.2em;margin-top: 30px;">Технология омоложения включает</div>
        <div style="font-size: 2.2em;">воздействие CO2 лазера и RF лифтинга</div>
        <div style="padding-top: 20px;"><a href="/services/137-dot+rf-omolozhenie.html" class="btn btn-default">Узнать подробности</a></div>
      </div>
    </div>
  </div>
</div>