<h2 class="text-center">Уникальное предложение</h2>
<div class="separator"></div>
<div class="section clearfix" style="padding:0px;margin: 0px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a href="/services/137-dot+rf-omolozhenie.html"><img src="<%=image_path('banner.jpg')%>" class="img-responsive"></a>
      </div>
    </div>
  </div>
</div>