<h2 class="text-center">Предложение от партнеров</h2>
<div class="separator"></div>
<div class="section clearfix object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="300" style="padding:0px;margin: 0px;">
<div class="container">
    <div class="row">
      <div class="col-md-12">
       <a href="http://kzn.olympclubs.ru/"><img src="/images/images/banners/fitness-long.jpg" style="display:block;width:100%;margin:0 auto;"> </a>
      </div>
    </div>
  </div>
</div>