<div class="page-top object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="100" id="branches">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center title">Основные направления</h2>
        <div class="separator"></div>
        <!--<p class="text-center">Разделы услуг оказываемые в Центре эпиляции и косметологии</p>-->
        <div class="row grid-space-20">
          <div class="col-sm-12 col-md-4 col-md-push-4 hidden-sm hidden-xs" style="text-align: center;padding-left:50px;">
            <%=image_tag 'doctor.png', :class=>"object-non-visible", :data => { "animation-effect"=>"fadeInUp", "effect-delay"=>"0"}%>
          </div>
          <div class="col-sm-6 col-md-4 col-md-pull-4">
            <div class="box-style-3 right object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="0">
              <div class="icon-container default-bg">
                <i class="fa fa-check"></i>
              </div>
              <div class="body">
                <h2><a href="/section/kosmetology.html">Косметология</a></h2>
                <p>Научный подход к красоте</p>
              </div>
            </div>
            <div class="box-style-3 right object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="200">
              <div class="icon-container default-bg">
                <i class="fa fa-check"></i>
              </div>
              <div class="body">
                <h2><a href="/section/epilyaciya.html">Эпиляция</a></h2>
                <p>Удаление нежелательных волос</p>
              </div>
            </div>
            <div class="box-style-3 right object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="400">
              <div class="icon-container default-bg">
                <i class="fa fa-check"></i>
              </div>
              <div class="body">
                <h2><a href="/section/korrekciya-figuri.html">Коррекция фигуры</a></h2>
                <p>Помогаем гордиться своим телом</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="box-style-3 object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="0">
              <div class="icon-container default-bg">
                <i class="fa fa-check"></i>
              </div>
              <div class="body">
                <h2><a href="/section/lechecnie-volos.html">Лечение волос</a></h2>
                <p>Плюс здоровье кожи головы</p>
              </div>
            </div>
            <div class="box-style-3 object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="200">
              <div class="icon-container default-bg">
                <i class="fa fa-check"></i>
              </div>
              <div class="body">
                <h2><a href="/section/massage.html">Массаж</a></h2>
                <p>Совмещаем приятное с полезным</p>
              </div>
            </div>
            <div class="box-style-3 object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="400">
              <div class="icon-container default-bg">
                <i class="fa fa-check"></i>
              </div>
              <div class="body">
                <h2><a href="/section/manikur-i-pedikur.html">Маникюр, педикюр, пирсинг</a></h2>
                <p>Красота с медицинской точностью</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>