<div class="page-top">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center title">Наша программа Вашей лояльности</h2>
        <div class="separator"></div>
        <div class="row grid-space-10">
          <div class="col-sm-4">
            <div class="box-style-2">
              <div class="icon-container default-bg hidden-xs" style="margin-right: 10px;">
                <i class="fa fa-gift"></i>
              </div>
              <h2 style="height: 2.2em;"><a href="/posts/463">Cкидка ко дню<br>рождения</a></h2>
              <p>В течение 2 недель вы можете пройти процедуры со скидкой до 50%</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="box-style-2">
              <div class="icon-container default-bg hidden-xs" style="margin-right: 10px;">
                <i class="fa fa-certificate"></i>
              </div>
                <h2 style="height: 2.2em;"><a href="/certificates"><nobr>Cертификаты</nobr> с доставкой</a></h2>
                <p>Выберите <a href="/certificates">любой сертификат</a> на сумму более 3000 рублей, и мы доставим его вам.</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="box-style-2">
              <div class="icon-container default-bg hidden-xs" style="margin-right: 10px;margin-left: 10px;">
                <i class="fa fa-credit-card"></i>
              </div>
                <h2 style="height: 2.2em;"><a href="/subscriptions">Абонементы. Скидка от 20 % до 56%</a></h2>
                <p>С <a href="/subscriptions">нашими абонементами</a> выгодно проходить курсовые или комплексные программы.</p>
            </div>
          </div>
        </div>
        <div class="row grid-space-10">
          <div class="col-sm-4">
            <div class="box-style-2">
              <div class="icon-container default-bg hidden-xs" style="margin-right: 10px;">
                <i class="fa fa-group"></i>
              </div>
                <h2 style="height: 2.2em;"><a href="/promos/94">С друзьями<br>цены пополам</a></h2>
                <p>Пригласите вашего друга на процедуру со скидкой 50% и сами вы воспользуйтесь аналогичной скидкой. Неограниченное количество друзей.</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="box-style-2">
              <div class="icon-container default-bg hidden-xs" style="margin-right: 10px;">
                <i class="fa fa-line-chart"></i>
              </div>
                <h2 style="height: 2.2em;"><a href="/posts/464">Плати бонусами</a></h2>
                <p>Мы начисляем Вам 5% от каждой оплаты, неважно, Вашей или Ваших друзей. Бонусы можно использовать для оплаты до 50% стоимости следующей покупки.</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="box-style-2">
              <div class="icon-container default-bg hidden-xs" style="margin-right: 10px;margin-left: 10px;">
                <i class="fa  fa-sitemap"></i>
              </div>
                <h2 style="height: 2.2em;"><a href="/posts/465">Карта постоянного клиента</a></h2>
                <p>Предоставляется дополнительная скидка на каждую следующую процедуру в размере 5% и достигает 45%.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- page-top end -->