<div class="section clearfix hidden-xs hidden-sm" style="margin-bottom: 0px;padding-bottom: 1px;">
  <div class="container" style="margin-bottom: 0px;padding-bottom: 0px;">
    <div class="row" style="margin-bottom: 0px;padding-bottom: 0px;">
      <div class="col-md-12">
        <table style="width: 100%;">
          <tr>
            <td style="width: 25%"><img src="<%=image_path('ilsiyar.png')%>" style="height: 200px;"></td>
            <td style="vertical-align: top">
              <div class="bubble">
                <p style="margin-bottom: 0px;">Здравствуйте, меня зовут Аитова Ильсияр. Я директор Центра эпиляции и косметологии. Буду всегда рада получить ваши пожелания, конструктивные предложения по всем вопросам как нам стать лучше.</p>
                <div style="text-align: center"><button class="btn btn-default btn-sm" data-toggle="modal" data-target="#improve">Помочь нам стать лучше</button></div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<%=render :partial => 'app/modal/improve'%>