<div>

    <div class="row" style="overflow-x:hidden;margin-bottom: 0px;padding-bottom: 0px;padding-top:0px;">
      <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=k_d09wikXVYANpOdD01imo2kCUG8JyMP&width=100%&height=400"></script>
    </div>

</div>