<!-- main-container start -->
<!-- ================ -->
<section class="main-container default-bg">

  <!-- main start -->
  <!-- ================ -->
  <div class="main">
    <div class="container">
      <div class="call-to-action">
        <div class="row">
          <div class="col-md-8">
            <h1 class="title text-center">We offer more possibilities to meet your every need.</h1>
          </div>
          <div class="col-md-4">
            <div class="text-center">
              <a href="#" class="btn btn-white btn-lg">Purchase</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- main end -->

</section>
<!-- main-container end -->