<div class="section gray-bg clearfix">
  <div class="owl-carousel content-slider">
    <%Post.where('category_id = 31 AND photo_file_name is not NULL').order('created_at DESC').limit(4).each do |review|%>
    <div class="testimonial">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h2 class="title"><%=review.name%></h2>
            <div class="testimonial-image">
              <img src="<%=review.photo.url(:medium)%>" alt="" title="" class="img-circle" style="height:150px;width:150px;">
            </div>
            <div class="testimonial-body">
              <p><%= strip_tags review.content%></p>
              <div>
                  <div class="pull-right"><a href="/responces">Почитать другие отзывы</a></div>
                  <div class="testimonial-info-1"><%=review.person%></div>
                  <div class="testimonial-info-2">Клиент ЦЭиК</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>