<h2 class="text-center">Популярные услуги</h2>
<div class="separator"></div>
<div class="section clearfix" style="padding:0px;margin: 0px;">

  <div class="container">
    <div class="row">
      <div class="col-md-12" style="padding-bottom: 0px;margin-bottom: 0px;">
        <!-- isotope filters start -->
        <!--<div class="filters">
          <ul class="nav nav-pills">
            <li class="active"><a href="#" data-filter="*">Все</a></li>
            <li><a href="#" data-filter=".r1">Эпиляция</a></li>
            <li><a href="#" data-filter=".r2">Косметология</a></li>
            <li><a href="#" data-filter=".r4">Коррекция фигуры</a></li>
            <li><a href="#" data-filter=".r5">Массаж</a></li>
            <li><a href="#" data-filter=".r7">Ногтевой сервис</a></li>
            <li><a href="#" data-filter=".r8">Пирсинг</a></li>
          </ul>
        </div>-->
        <!-- isotope filters end -->

        <!-- portfolio items start -->
        <div class="row">
          <% i = 0 %>
          <%Section.all.each do |section|%>
              <% i = i + 1%>
              <% limit = (section.id == 2)?4:2%>
              <%section.services.where('fl_publish = 1').order('fl_order ASC').limit(limit).each do |service|%>
                  <div class="col-sm-6 col-md-3 <%if i % 2 == 0 %>hidden-xs<% end %>">
                    <div class="image-box" style="margin-bottom: 10px;">
                      <div class="overlay-container" style="height:180px;">
                        <img src="http://www.kosmetologiya-kazan.ru<%=service.photo.url(:medium)%>" alt="">
                      </div>
                      <a href="<%=service_path(id:service.id, url:service.url)%>" class="btn btn-block" style="text-transform: lowercase;font-size:12px;height:50px;background-color: #E8CEAB;color: #000000;text-decoration: underline"><%=service.name.truncate(50)%></a>
                    </div>
                  </div>
              <% end %>
          <% end %>
        </div>
        <!-- portfolio items end -->

      </div>
    </div>
  </div>

</div>