<%
   meta :title => "Сертификаты Центра эпиляци и косметологии",
        :description => 'Сертификаты на услуги косметолога'
%>
<div class="main col-md-12" id="news">
  <!-- page-title start -->
  <!-- ================ -->
  <h1 class="page-title">Подарочные сертификаты</h1>
  <div class="separator-2"></div>
  <div class="row call-to-action" style="background-color: #E9E9E9;margin-bottom: 20px;">
    <div class="col-md-12" style="background-color: #92C9C5;text-align: left;color: #fff;font-size:1.2em;padding: 10px;">
      Сертификаты на сумму
    </div>
    <div class="col-md-4" style="padding: 15px;">
      <img src="<%=image_path('cert_spa.jpg')%>" class="img-responsive">
    </div>
    <div class="col-md-8" style="padding-top: 15px;text-align: left;">
      Подарочные сертификаты номинированные в рублях. Оставьте в прошлом унылые белые конверты с деньгами, которые всё равно растворятся в быту.
      <div style="padding: 10px;"><a href="/certificates/sum" class="btn btn-primary">Выбрать сертификат</a></div>
    </div>
  </div>
  <div class="row call-to-action" style="background-color: #E9E9E9;margin-bottom: 20px;">
    <div class="col-md-12" style="background-color: #92C9C5;text-align: left;color: #fff;font-size:1.2em;padding: 10px;">
      Сертификаты на спа-программы
    </div>
    <div class="col-md-4" style="padding: 15px;">
      <img src="<%=image_path('cert_sum.jpg')%>" class="img-responsive">
    </div>
    <div class="col-md-8" style="padding-top: 15px;text-align: left;">
      Подарочные сертификаты на уникальные спа-программы от Центра эпиляции и косметологии. Дарите уход, заботу и прекрасное настроение!
      <div style="padding: 10px;"><a href="/certificates/set" class="btn btn-primary">Выбрать сертификат</a></div>
    </div>
  </div>
</div>
