<%
   meta :title => "Сертификаты Центра эпиляци и косметологии",
        :description => 'Сертификаты на услуги косметолога'
%>
<div class="main col-md-12" id="news">
  <!-- page-title start -->
  <!-- ================ -->
  <h1 class="page-title">Сертификаты на готовые программы</h1>
  <div class="separator-2"></div>
  <!-- page-title end -->
  <div class="section">
    <%=render :partial=>'certificates/shared/index'%>
  </div>
</div>