<%
  meta :title => "О нас",
       :description => 'Информация о добавлении новых услуг, поступлении последнего оборудования, акциях и скидках'
%>
<div class="main col-md-12 col-xs-12" id="news" style="padding-top: 50px;">
  <!-- page-title start -->
  <!-- ================ -->
  <div class="masonry-grid-fitrows row grid-space-20">
    <div class="col-md-3 col-sm-6 masonry-grid-item col-xs-12">
      <div class="listing-item">
        <div style="height: 220px;overflow: hidden">
          <img src="http://www.kosmetologiya-kazan.ru/data/pictures/523/2213516UtjSkrQT.jpg" style="height: 100%;-webkit-filter: sepia(15%);">
        </div>
        <div class="listing-item-body clearfix" style="height: 160px;">
          <div style="height: 100px;">
            <h3 class="title"><a href="/posts/300" style="text-decoration: underline">Обращение директора</a></h3>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 masonry-grid-item col-xs-12">
      <div class="listing-item">
        <div style="height: 220px;overflow: hidden">
          <img src="http://www.kosmetologiya-kazan.ru/data/pictures/525/oie_Ejjgc4XsDvUX.jpg" style="height: 100%;-webkit-filter: sepia(15%);">
        </div>
        <div class="listing-item-body clearfix" style="height: 160px;">
          <div style="height: 100px;">
            <h3 class="title"><a href="/responces" style="text-decoration: underline">Отзывы клиентов</a></h3>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 masonry-grid-item col-xs-12">
      <div class="listing-item">
        <div style="height: 220px;overflow: hidden">
          <img src="http://www.kosmetologiya-kazan.ru/data/pictures/524/oie_v5N2Vkk78zfx.jpg" style="height: 100%;-webkit-filter: sepia(15%);">
        </div>
        <div class="listing-item-body clearfix" style="height: 160px;">
          <div style="height: 100px;">
            <h3 class="title"><a href="/news" style="text-decoration: underline">Наши новости</a></h3>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 masonry-grid-item col-xs-12">
      <div class="listing-item">
        <div style="height: 220px;overflow: hidden">
          <img src="http://www.kosmetologiya-kazan.ru/system/faqs/photos/000/000/012/original/33.png?1460637600" style="height: 100%;-webkit-filter: sepia(15%);">
        </div>
        <div class="listing-item-body clearfix" style="height: 160px;">
          <div style="height: 100px;">
            <h3 class="title"><a href="/faqs" style="text-decoration: underline">Блог о красоте</a></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>