<div id="contacts">
  <div class="page-header">
    <h1>Контактная информация</h1>
  </div>
  <p><strong>Адрес:</strong> г. Казань, ул.Спартаковская 2<br>
  Отдельный вход в торговом квартале «Караван» возле АИКБ «Татфондбанк»</p>
  <p><strong>Телефон:</strong> +7 (987) 292-55-41</p>
  <p><strong>Электронная почта:</strong> aitovailsiar@mail.ru</p>
  <p><strong>Полное наименование организации:</strong> ООО "Хелси джой"</p>
  <p><strong>Лицензия:</strong> ЛО-16-01-002859 от 15.08.2013</p>
  <p><strong>Время работы:</strong> ежедневно с 9.00 до 21.00</p>
  <table class="view">
    <tr>
      <td>
        <%=image_tag 'saloon1.jpg'%>
      </td>
    </tr>
    <tr>
      <td>
        <h2>Схема проезда</h2>
        <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=QuDnq8KdfdSfG-bTrDsCw-Ki4D3nXGtn&width=700&height=560"></script>
      </td>
    </tr>
  </table>
</div>