<%
   meta :title => 'Фотографии Центра эпиляции и косметологии Казань',
        :description => 'Внутренние виды центра эпиляции в Казани.'
%>
<!--fff-->
<div class="row" style="padding-left:10px;">
  <div class="page-header" style="margin: 10px 15px 20px 15px;">
    <h1>Фотографии Центра эпиляции и косметологии <%=@title%></h1>
  </div>
  <% @album.each do |image| %>
      <div class="col-md-4">
        <div class="thumbnail" style="text-align: center;padding: 10px 0px;">
          <%=link_to image.gsub('public','').gsub('th/','big/'), :class=> 'photos', :data => {:rel=>'photos'} do %><%= image_tag image.gsub('public','') %><% end %>
        </div>
      </div>
  <% end %>
</div>
