<div id="reviews">
  <div class="page-header">
    <h1>Отзывы о Центре эпиляции и косметологии</h1>
  </div>
  <table class="table">
    <%@reviews.each do |review|%>
        <tr>
          <td class="img">
            <div class="author"><%=review.person%></div>
            <%=image_tag review.photo.url(:medium), :class=>'img-rounded'%>
          </td>
          <td>
            <%=review.content.html_safe%>
            <%if review.anounce.length > 5%>
                <p><a class='youtube btn btn-sm btn-info' href="<%=review.anounce.gsub('watch?v=','embed/') + '?rel=0&wmode=transparent'%>">Посмотреть видео</a></p>
            <% end %>
          </td>
        </tr>
    <% end %>
  </table>
</div>