<%
   meta :title => "Контактная информация центра эпиляции и косметлогии",
        :description => "Адрес, телефон, карта, маршруты проезда, время работы и многое другое "
%>
<div id="contacts">
  <div style="padding:100px;text-align: center">Спасибо за обращение в наш центр.<br>В ближайшее время наш менеджер свяжется с вами для уточнения деталей.</div>
</div>