@import "v3/common";
@import "v3/plugins/magnific-popup/magnific-popup";

.owl-controls{
    display: none!important;
}

#branches{
    .body{
        h2{
            margin: 0px;
            padding: 0px;
            a{
                text-decoration: underline;
            }
        }
        p{
            padding: 0px;
            margin: 0px;
        }
    }
}
#about{
    h4{
        padding: 0px;
        margin:0px;
    }
    ul{
        li{
            padding: 0px 0px;
        }
    }
    a{
        text-decoration: underline;
    }
    #new_order{
        textarea{
            height: 300px;
        }
    }
}
