@import "v3/common";
.post-info {
    width: 85px!important;
    .month{
        font-size: 14px!important;
    }
}
#promos{
    .blogpost-content{
        .body {
            .offer {
                display: none;
            }
            h1 {
                font-size: 14px;
            }
            h2 {
                font-size: 14px;
            }
            h3 {
                font-size: 14px;
            }
        }
    }
}