@import "v3/common";

.shop-product{
    padding: 0px 20px;
    border-width: 0px;
    height: 360px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    .product-name {
        a{
            text-decoration: underline;
            color: blue;
            font-size: 14px;
        }
    }
    .product-descr {
        color: gray;
        font-size: 12px;
    }
    .product-price {
        color: indianred;
        font-size: 20px;
        padding: 5px 0px 0px 0px;
    }
    .product-existance {
        color: gray;
        font-size: 12px;
    }
    img{
        height: 200px;
    }
}

.shop-navigation{
    li {
        list-style: none;
        a {
            text-decoration: underline;
        }
        .current{
            font-weight: bold;
            color: #1a7bb9;
        }
    }
}

#product{
    margin-bottom: 20px;
    .content{
        img{
            max-width: 300px;
        }
        ul{
            padding-left: 40px;
        }
        ol{
            padding-left: 40px;
        }
    }
}
#shop{
    margin-top: 50px;
    width: 100%;
    .left{
        width: 20%;
        padding: 10px 20px 0px 0px;
        a{
            font-size: 12px;
        }
    }
}
#shop-collection{
    .img-wrapper{
        text-align: center;
        img{
            height: 120px;
        }
    }
    .img-wrapper-2 {
        text-align: center;
        img {
            width: 180px;
            height: 180px;
        }
    }
}
#shop-unit{
    padding-top: 10px;
}
#cart-top{
    margin-bottom: 10px;
    img{
        display: inline;
    }
    table{
        width: 100%;
        td {
            width: 50%;
            padding: 5px;
            .el{
                padding: 5px;
            }
            .lb{
                text-align: center;
                font-size: 12px;
            }
        }
        .l{
            .el{
                float: left;
            }
        }
        .r{
            padding-top: 10px;
            .el{
                float: right;
            }
        }

    }
    .emt{
        height: 40px;
        width: 40px;
        box-shadow: 0px 0px 2px #555;
        font-size: 1.8em;
        text-align: center;
        display: table-cell;
        a{
            color: #ccc;
            padding: 0px!important;
            margin: 0px!important;
            display: inline!important;
        }
    }
    #cart-wrapper{
        img{
            height: 40px;
            width: 40px;
            box-shadow: 0px 0px 5px #555;
            margin-right: 5px;
        }
    }
    #viewed-wrapper{
        img{
            height: 40px;
            width: 40px;
            box-shadow: 0px 0px 5px #555;
            margin-right: 5px;
            display: inline;
        }
    }
}
#shop-cart{
    margin-top: 10px;
    border-bottom-width: 0px;
    th{
        font-size: 12px;
    }
    td {
        vertical-align: middle;
        img {
            width: 50px;
            height: 50px;
            border: 1px solid #aaaaaa;
        }
    }
    td.th{
        width: 55px;
    }
    .c{
        text-align: center;
        white-space: nowrap;
    }
}
#shop-order{
    margin-top: 10px;
    border-bottom-width: 0px;
    th{
        font-size: 12px;
    }
    td {
        vertical-align: middle;
        img {
            width: 50px;
            height: 50px;
            border: 1px solid #aaaaaa;
        }
    }
    td.th{
        width: 55px;
    }
    .c{
        text-align: center;
    }
}
#units-nav{
    .current{
        font-weight: bold;
        color: #000;
        background-color: #EFEFEF;
        border-left: 1px solid #666666;
    }
    .current_child{
        color: #000;
        border-left: 1px solid #666666;
    }
}
