<% if @diplomas.length > 0 %>
    <h2 class="title">Дипломы и сертификаты</h2>
      <div class="row">
      <% @diplomas.each do |image| %>
          <div class="col-md-3" style="height:150px;overflow-y: hidden;overflow-x: hidden">
            <a href="<%=image.gsub('public', '').gsub('th/', '') %>" target="_blank">
                <%= image_tag image.gsub('public', '') %>
            </a>
          </div>
      <% end %>
      </div>
     <div style="clear:both"></div>
<% end %>