<% if @diplomas.length > 0%>
<h3 class="title">Дипломы и сертификаты</h3>
<div class="owl-carousel carousel-autoplay">
  <% @diplomas.each do |image| %>
  <div class="image-box">
    <div class="overlay-container">
      <%= image_tag image.gsub('public','') %>
      <%=link_to image.gsub('public','').gsub('th/',''), :class=> 'overlay small' do %>
        <i class="fa fa-link"></i>
        <span></span>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
<% end %>