<% if @diplomas.length > 0 %>
    <h2 class="title">Дипломы и сертификаты</h2>
    <div class="owl-carousel owl-theme" style="margin-bottom: 10px;">
      <% @diplomas.each do |image| %>
          <div class="item">
            <a href="<%=image.gsub('public', '').gsub('th/', '') %>" target="_blank">
                <%= image_tag image.gsub('public', '') %>
            </a>
          </div>
      <% end %>
      </div>
     <div style="clear:both"></div>
<% end %>