<% if @diplomas.length > 0 %>
    <h2 class="title">Дипломы и сертификаты</h2>
      <div class="row">
      <% @diplomas.each do |image| %>
          <div class="col-md-3" style="height:150px;overflow-y: hidden">
            <%= link_to image.gsub('public', '').gsub('th/', '') do %>
                <%= image_tag image.gsub('public', '') %>
            <% end %>
          </div>
      <% end %>
      </div>
     <div style="clear:both"></div>
<% end %>