<% if @diplomas.length > 0 %>
    <h2 class="title">Дипломы и сертификаты</h2>
      <% @diplomas.each do |image| %>
          <div class="image-box pull-left">
            <%= link_to image.gsub('public', '').gsub('th/', '') do %>
                <%= image_tag image.gsub('public', '') %>
            <% end %>
          </div>
      <% end %>
     <div style="clear:both"></div>
<% end %>