<% if @reviews.length > 0 %>
<h2 class="title">Отзывы о специалисте</h2>
<% @reviews.each do |review| %>
    <blockquote class="margin-clear">
      <%
        content = review.content
        content = content.gsub(/<\/?span[^>]*>/i,'')
      %>
      <p style="margin-bottom: 0px;padding-bottom: 5px;"> <%=content.html_safe%></p>
      <footer><cite title="Source Title"><%=review.person%></cite></footer>
    </blockquote>
<% end %>
<% end %>