<h2 class="title">Специализация</h2>
<div class="separator"></div>
<ul id="specialization">
  <%@expert.services.where('fl_publish = 1').each do |service|%>
      <li><%=link_to service.name, service_path(id:service.id, url:service.url)%></li>
  <% end %>
</ul>