<html lang="ru">
<head>
  <title>Косметология Казань</title>

  <meta content="text/html" http-equiv="content-type" charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport" />
  <!--[if IE]>
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
  <![endif]-->

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css" />
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.theme.default.min.css" />
  <link rel="stylesheet" href="http://www.kosmetologiya-kazan.ru/assets/v3/controller/main-a31994cfb8e76c1eaa963cf0dbee2758.css">
  <%= stylesheet_link_tag    "v3/main", media: "all" %>

  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.0.4/less.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
  <script type="text/javascript" src="http://io-team.com.xsph.ru/beauty/assets/js/frontend.js"></script>
</head>
<body>
<div class="banner owl-carousel" data-name="banner">
  <div class="banner__item front">
    <div class="wave" style="background-image: url('http://io-team.com.xsph.ru/beauty/assets/images/wave-1.png');"></div>
    <div class="container absolute">
      <div class="row">
        <div class="col-lg-4 col-md-4 hidden-sm hidden-xs">
          <img src="http://io-team.com.xsph.ru/beauty/assets/images/women-1.png" alt="">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-7 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1 pull-right">
          <div class="text">
            <p class="title"><span>Будь неотразимой</span><br /><span>в любом возрасте</span></p>
            <p>Фракционная мезотерапия - запусти естественный процесс регенерации клеток</p>
            <p class="price">
              <span>3800</span> руб
            </p>
            <div class="pack_btn">
              <a href="#order-modal" data-toggle="modal" data-target=".bs-example-modal-sm1">Записаться</a>
              <a href="/promos/200">Подробнее</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="banner__item back">
    <div class="wave" style="background-image: url('http://io-team.com.xsph.ru/beauty/assets/images/wave-2.png');"></div>
    <div class="container absolute">
      <div class="row">
        <div class="col-lg-4 col-md-4 hidden-sm hidden-xs">
          <img src="http://io-team.com.xsph.ru/beauty/assets/images/women-2.png" alt="">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-7 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1 pull-right">
          <div class="text">
            <p class="title"><span>Гладкие ножки</span><br /><span>мечта каждой женщины</span></p>
            <p>Фракционная мезотерапия - запусти естественный процесс регенерации клеток</p>
            <p class="price">
              <span>3800</span> руб
            </p>
            <div class="pack_btn">
              <a href="#order-modal" data-toggle="modal" data-target=".bs-example-modal-sm1">Записаться</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="banner__item back">
    <div class="wave" style="background-image: url('http://io-team.com.xsph.ru/beauty/assets/images/wave-3.png');"></div>
    <div class="container absolute">
      <div class="row">
        <div class="col-lg-4 col-md-4 hidden-sm hidden-xs">
          <img src="http://io-team.com.xsph.ru/beauty/assets/images/women-3.png" alt="">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-7 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1 pull-right">
          <div class="text">
            <p class="title"><span>Все заметят</span><br /><span>никто не узнает</span></p>
            <p>Фракционная мезотерапия - запусти естественный процесс регенерации клеток</p>
            <p class="price">
              <span>3800</span> руб
            </p>
            <div class="pack_btn">
              <a href="#order-modal" data-toggle="modal" data-target=".bs-example-modal-sm1">Записаться</a>
              <a href="/promos/200">Подробнее</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="banner__item front">
    <div class="wave" style="background-image: url('http://io-team.com.xsph.ru/beauty/assets/images/wave-4.png');"></div>
    <div class="container absolute">
      <div class="row">
        <div class="col-lg-4 col-md-4 hidden-sm hidden-xs">
          <img src="http://io-team.com.xsph.ru/beauty/assets/images/women-4.png" alt="">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-7 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1 pull-right">
          <div class="text">
            <p class="title"><span>Будь неотразимой</span><br /><span>в любом возрасте</span></p>
            <p>Фракционная мезотерапия - запусти естественный процесс регенерации клеток</p>
            <p class="price">
              <span>3800</span> руб
            </p>
            <div class="pack_btn">
              <a href="#order-modal" data-toggle="modal" data-target=".bs-example-modal-sm1">Записаться</a>
              <a href="/promos/200">Подробнее</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>