<%
  meta :title => 'Косметологи, массажисты и другие специалисты в Казани',
       :description => 'Подробная информация о казанских косметологах, массажистах, специалистах по эпиляции и т.д.'
%>
<h1 class="page-title">Наши специалисты</h1>
<div class="separator-2"></div>
<% @experts.each do |index, experts| %>
    <% if experts.length > 0 %>
        <h2><%= Expert::ROLES_PLURAL[index] %></h2>
        <div class="row grid-space-20">
          <%= render :partial => 'experts/index/experts', locals: {experts: experts} %>
        </div>
    <% end %>
<% end %>