<div class="row">
  <div class="col-md-12" id="cart-top">
    <table>
      <tr>
        <td class="l">
          <div class="el lb">Вы недавно<br>смотрели</div>
          <div class="el" id="viewed-wrapper"></div>
        </td>
        <td class="r">
          <div class="el" style="padding-top:0px;"><%=link_to "Оформить заказ", shop_cart_path, :class=>"btn btn-default btn-sm"%></div>
          <div class="el" id="cart-wrapper"></div>
          <div class="el lb">Ваша<Br><a href="<%=shop_cart_path%>" style="text-decoration: underline;color: #b31217">корзина</a></div>
        </td>
      </tr>
    </table>
  </div>
</div>