<div class="list-group" id="collections-nav">
  <!--<%Collection.where('fl_show = 1').each do |collection|%>
      <%=link_to collection.name.html_safe, shop_collection_path({url:collection.url}), :class=>"list-group-item"%>
  <% end %>-->
  <%parents = {1=>'Косметика', 2=>'Бельё', 3=>'Сертификаты', 4=> 'Абонементы'}%>
  <%prev_parent = 0%>
  <%Unit.all.each do |unit|%>
      <% if prev_parent != unit.parent%>
          <a href="#" class="list-group-item active"><%=parents[unit.parent]%></a>
          <%prev_parent = unit.parent%>
      <% end %>
      <a href="/shop/<%=unit.url%>" class="list-group-item"><%=unit.name%></a>
  <% end %>
</div>