<!--dfsfsdf-->
<div class="page-header" style="padding-bottom: 0px;margin-bottom: 5px;">
  <h3 style="padding: 0px;">Частые вопросы</h3>
</div>
<strong>Я не могу выбрать...</strong>
<p>Не беда, вы прямо сейчас можете проконсультироваться с нашими специалистами используя форму обратной связи или по телефону <strong>+7 (843) 2000-322</strong>.</p>
<strong>Как просходит оплата заказа?</strong>
<p>Оплата заказа производится наличными при получении заказа. Наш менеджер свяжется с вами в течении нескольких часов после получения вашего заказа для уточнения деталей</p>
<strong>Как получить заказ</strong>
<p>Свой заказ Вы можете получить 2 способами:</p>
<ul>
  <li>1. Оформить доставку курьером. Стоимость доставки по городу - 150 рублей, если заказ от 5000 рублей, доставка бесплатная</li>
  <li>2. Самовывоз из нашего салона по адресу ул. Спартаковская, д. 2 к 1 (ТЦ Караван).</li>
</ul>