<form action="/shop/search">
<%=render :partial => 'shop/shared/filter/parts'%>
<%=render :partial => 'shop/shared/filter/brands'%>
<%=render :partial => 'shop/shared/filter/issues'%>
<div class="text-center"><button type="submit" class="btn btn-success">Применить фильтр</button></div>
</form>