<%= form_for [Order.new] do |f| %>
    <input type="hidden" name="order[fl_type]" value="2">
    <div class="form-group">
      <label for="exampleInputPhone">Ваше имя</label>
      <input type="text" class="form-control" id="exampleInputPhone" required="required" name="order[name]" <%if user_signed_in? %>value="<%=current_user.name%>" disabled="disabled"<%end%>>
    </div>
    <div class="form-group">
      <label for="exampleInputPhone">Ваш email</label>
      <input type="text" class="form-control" id="exampleInputPhone" required="required" name="order[contacts]" <%if user_signed_in? %>value="<%=current_user.email%>" disabled="disabled"<%end%>>
      <input type="text" name="order[email]" id="email-field">
    </div>
    <div class="form-group">
      <label for="exampleInputPhone">Ваш телефон</label>
      <input type="text" class="form-control" id="exampleInputPhone" required="required" name="order[phone]" <%if user_signed_in? %>value="<%=current_user.phone%>"<%end%>>
    </div>
    <div class="form-group">
      <% if from == 'cart'%>
          <input type="hidden" name="order[type]" value="order">
          <label for="exampleInputText">Комментарий (не обязательно)</label>
         <textarea style="height: 100px;" class="form-control" id="exampleInputText" name="order[content]" placeholder="Любые комментарии к заказу"></textarea>
      <% else %>
          <input type="hidden" name="order[type]" value="question">
          <label for="exampleInputText">Ваш вопрос</label>
          <textarea style="height: 100px;" class="form-control" id="exampleInputText" name="order[content]" placeholder=""></textarea>
      <% end %>
    </div>
        <button type="submit" class="btn btn-success">
          <% if from == 'cart'%>
              Оформить заказ
          <% else %>
              Задать вопрос
          <% end %>
        </button>

<% end %>